Flask==0.10.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
python-dateutil==2.4.2
requests==2.8.1
Werkzeug==0.10.4
python-slugify==1.1.4
pdfcrowd3==2.7
selenium==2.53.2
wsgi_liveserver==0.3
flask-babel==0.10
babel==2.3.4
PyJWT==1.4.1
raven[flask]==6.0.0
dropbox==7.2.1
