{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <div class="row">
      <ul class="tabs">
        {% for tab in content.tabs %}
            {% if (('access' in tab) and tab.access|in_array(g.payload.acc[content.auth_country]))
                    or ('access' not in tab) %}
        <li>
	       <a href="#" id="{{tab.name|slugify}}"
              page="{{tab.template}}"
              onclick="loadLocationTree({type:'tab', dataID:'{{tab.name|slugify}}', locID:window.history.state.locID, location_filter: '{{tab.get('location_filter', '')}}'}); return false;"
              location_filter='{{tab.get('location_filter', '')}}'>{{_(tab.name)}}</a>
        </li>
            {% endif %}
        {% endfor %}
	  </ul>

      <div class="breaker"></div>
    </div>
  </div>

  <div class="page-content container tab-page" id="page-content"></div>

{% endblock body %}


{% block pageJS %}

<script type="text/javascript" >

    $('ul.navbar-nav .active').removeClass('active');
    $('.menu-dashboard').addClass('active');

	var api_root = "{{config['EXTERNAL_API_ROOT']}}";
    var config = {{config['TECHNICAL_CONFIG']|tojson|safe}};
    var language = {{g.get("language")|tojson|safe}};
    var week = {{week.epi_week|safe}};
    var allowed_location = {{g.allowed_location|safe}}

	$.ajaxPrefilter(function( options, originalOptions, jqXHR ) {
	options.data = $.param($.extend(originalOptions.data, { api_key: config.api_key })) //
	});
	loadLocationTree( {{page|safe}} );

        //Respond to the user pressing forward or back by loading the correct page content.
        window.onpopstate = function(event) {
            loadPage( event.state, false );
         };


</script>

{% endblock pageJS %}
