<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{{ _('Authentication and User Management | Meerkat Public Health Surveillance') }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
  <script>
  language = "{{g.get('language')|safe}}";
  </script>
  {% block head %} {% endblock %}
</head>
<body class="blue">

<div class="login-title"> {{_('Meerkat Public Health Surveillance') }}</div>
<div class="breaker"></div>
<div class="row">
	<div class="login-box-holder">
		<div class="login box chartBox">
			<div class="chartBox__heading">
				{{ _('Login') }}
                <div class="lang-sel pull-right"></div>
			</div>
            
			<div class="chartBox__content" >
				<form id="login-form" class="login-form">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <label>{{_('Username')}}</label>
                        <input type="text" class="text" name="username" />
                    </div>
                    <div class="form-group">
                        <label>{{_('Password')}}</label>
                        <input type="password" class="text" name="password" />
                    </div>
                    <input type="button" value="Login" class="submit pull-right" />
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>
{% include 'includes/js.html' %}
{% block pageJS %}
<script>
$('input.submit').click( function(){
    var formArray = {
        'username': $('input[name=username]').val(),
        'password': $('input[name=password]').val()
    }
    console.log( formArray );
    //Post json to server.
    $.ajax({
        url: '{{auth_root}}/api/login',
        type: 'post',
        success: function (data) {
            alert( data );
            parent.location.replace( "{{redirect}}");
        },
        error: function (data) {
            if( data.hasOwnProperty( 'message' ) ){
                alert( data.message );
            }else{
                alert( i18n.gettext("There has been a server error. " + 
                                    "Please contact administrator and try again later.") );
            }
        },
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify(formArray, null, '\t')
    });
});
</script>
{% endblock %}
