<script type="text/javascript">
var auth_root = "{{content.auth_root}}";

//SET THE SCREEN SIZE-----------------------------------------
	//Make sure that objects with class screen don't over fill the screen due to the NavBar
	$('.screen').css( "height", $(window).height()-$('.navbar').height() );



//CREATE SLIDABLE LIST ITEMS FOR PRINCIPLES---------------------------------------------
	$('.slides li .clickable').on( 'click', function(event){
		$(this).parent().children(".slideCont").slideToggle();
	});

	//If there is no console, don't bother logging anything.
	if (typeof console === "undefined") {
	  console = {
		 log: function() { }
	  };
	}


//SCROLLING BUTTONS-------------------------------------------
  //Handle the scrolling buttons
  // navigation click actions
  $('.scroll-link').on('click', function(event){
	 event.preventDefault();
	 var sectionID = $(this).attr("data-id");
	 scrollToID('#' + sectionID, 750);
	 resetMapView(map);
  });

  // scroll to top action
  $('.scroll-top').on('click', function(event) {
	 event.preventDefault();
	 $('html, body').animate({scrollTop:0}, 'slow');
	 $('.navbar-nav li.active').removeClass('active');
	 resetMapView(map);
  });

  //Manage the link highlighting
  $('.navbar-nav li').on('click', function(event){
	 $('.navbar-nav li.active').removeClass('active');
	 $(this).addClass('active');
  });

  // Auto close mobile nav menu after selection
  $('.nav a').on('click', function(){
	 if ($(document).width() <= 991){
	   $(".navbar-toggle").click();
	 }
  });

  // Auto closs mobile nav menu after selection
  $('a.navbar-brand').on('click', function(){
	 if ($(document).width() <= 991 && !$(".navbar-toggle").hasClass("collapsed")){
	   $(".navbar-toggle").click();
	 }
  });

	// scroll function
	function scrollToID(id, speed){
	  var offSet = 0;
	  var targetOffset = $(id).offset().top - offSet;
	  var mainNav = $('#main-nav');
	  $('html,body').animate({scrollTop:targetOffset}, speed);
	}

   //SHOW THE KEY_INDICATORS ----------------------------------------------

    $.getJSON( "{{config['EXTERNAL_API_ROOT']}}/key_indicators", function( category ){
        $.getJSON( "{{config['EXTERNAL_API_ROOT']}}/tot_map", function( map ){
            $.getJSON( "{{config['EXTERNAL_API_ROOT']}}/num_alerts", function( alerts ){
                $.getJSON( "{{config['EXTERNAL_API_ROOT']}}/num_clinics", function( clinics ){

                    // Use an indicator structure so we can process all indicators equally.
                    var indicators = [{
                        'id': '#number_of_consultations',
                        'value': category['reg_2'].year
                    }, {
                        'id': '#number_of_cases',
                        'value': category['tot_1'].year
                    }, {
                        'id': '#number_of_alerts',
                        'value': alerts.num_alerts
                    }, {
                        'id': '#number_of_facilities',
                        'value': clinics.total
                    }];

                    // Process each indicator
                    for(var i in indicators){

                        var indicator = indicators[i];

                        // 7 digit figures over flow the box, so shorthand big numbers.
                        if(parseFloat(indicator.value) > 999999){
                            var millions = indicator.value/1000000;
                            millions = sigFigs(millions, 3);  // Round to 3 sf.
                            indicator.value = millions + "<span style='font-size:23px'> million</span>";
                        }

                        // Draw the indicator value
                        $(indicator.id).html(indicator.value);
                    }
                });
            });
        });
    });




	//Enable the left and righ buttons for the key indicator viewer.
	$('#leftButton').click( function(){
	  pos = parseInt($('#keyIndicatorsList').css("left"));
	  //If a button is pressed before animation is complete, the viewing window can endup straddling a panel.
	  //We don't want this, so remove the "straddle" distance from the panel-list's position.
	  pos = pos - (pos % 210);

	  if( window.matchMedia( "(max-width: 700px)" ).matches ) bounce=630;
	  else bounce = 210;

	  if( pos > -210 ){
		 $('#keyIndicatorsList').animate( {"left": "-" + bounce +"px" }, "slow");
	  }else{
		 $('#keyIndicatorsList').animate( {"left": (pos+210)+"px"}, "slow");
	  }
	});

	$('#rightButton').click( function(){
	  pos = parseInt($('#keyIndicatorsList').css("left"));
	  pos = pos - (pos % 210);
	  if( window.matchMedia( "(max-width: 700px)" ).matches ) bounce=630;
	  else bounce = 210;
	  if( pos  <= -bounce ){
		 $('#keyIndicatorsList').animate( {"left": "0px"}, "slow");
	  }else{
		 $('#keyIndicatorsList').animate( {"left": (pos-210)+"px"}, "slow");
	  }
	});

//SHOW THE MAP ----------------------------------------------
    L.mapbox.accessToken = 'pk.eyJ1IjoibXJqYiIsImEiOiJqTXVObHJZIn0.KQCTcMow5165oToazo4diQ';
    var map = L.mapbox.map('map', 'mrjb.143811c9', { zoomControl:false });
    var viewingMap = false;

    function resetMapView (){
		//Set the map position.
      map.setView([{{content.map.center.lat}}, {{content.map.center.lng}}], {{content.map.zoom}});
      //Ensure the map overlay is visible.
      $('#map-home .title-overlay').slideDown();
      $('#map-home .techSiteBtn').slideDown();
      // Disable drag and zoom handlers.
      map.dragging.disable();
      map.touchZoom.disable();
      map.doubleClickZoom.disable();
      map.scrollWheelZoom.disable();
      // Disable tap handler, if present.
      if (map.tap) map.tap.disable();
      $('.key .keyBody').text(i18n.gettext("Click here to explore"));
      //if( undefined != regionalLayer ) map.removeLayer(regionalLayer);
		viewingMap = false;

    }

    resetMapView(map);

    var markers = new L.MarkerClusterGroup({ showCoverageOnHover: false });

    $.getJSON( "{{config['EXTERNAL_API_ROOT']}}/tot_map", function( reports ){
      $.getJSON( "{{config['EXTERNAL_API_ROOT']}}/consultation_map", function( consultations ){
         for( key in reports){
           if (reports.hasOwnProperty(key)){
          var report = reports[key];
          var consultation = consultations[key];

		    if( report.geolocation[0] && report.geolocation[1] ){
		      var m = L.marker( [ report.geolocation[0], report.geolocation[1]] );
		      m.name = i18n.gettext(report.clinic);
		      m.cases = report.value;
		      m.consultations = consultation.value;
		      markers.addLayer( m );
//				console.log(m);
		      }
	}
        }
      });
    });

    map.addLayer( markers );

//REGIONAL POLYGON DATA --------------------------
 $.getJSON( "{{config['EXTERNAL_API_ROOT']}}/geo_shapes/region", function( regions ){
     var regionalLayer = L.geoJson(regions,
								   {style: style,
									onEachFeature: onEachFeature
								   })

		 regionalLayer.addTo(map);
    //Don't de-highlight region upon "mouseout" event as region de-highlights when hovering over a surveilance site.
    //Instead store the region in this variable on mouseover and de-highlight it upon mouseover a different region.
    var highlightedRegion;

    //Specify the basic style of the polygons.
    function style (feature){
      return {
         fillColor: '#688B9E',
         color: '#537080',
         weight: 4,
         opacity: 0,
         fillOpacity: 0
      };
    }

    //Quick fix to handle situations where surveillance site is reported as being in different regions by data and kml data.
    var govSiteClash = false;

    //De-highlight the previously highlighted region, and then highlight the new region.
    function highlightFeature (e){

      if (undefined === highlightedRegion ){
         highlightedRegion = e.target;
      }else{
         regionalLayer.resetStyle( highlightedRegion );
         if( highlightedRegion.toGeoJSON().properties.Name != e.target.toGeoJSON().properties.Name ){
           highlightedRegion = e.target;
           $(".details .selection").html("");
           govSiteClash = false;
         }
      }
      highlightedRegion.setStyle({
         fillOpacity: 0.1,
         opacity: 1
      });

      if (!L.Browser.ie && !L.Browser.opera) {
         highlightedRegion.bringToFront();
      }

      if( govSiteClash === false ){
         $("#regionName.value").text( highlightedRegion.toGeoJSON().properties.Name );
      }

    }

    function clickFeature(e){
        enterMap(e);
        map.fitBounds(e.target.getBounds());
    }

    //Attached the highlight feture to the mouseover event.
    function onEachFeature(feature, layer) {
      layer.on({
         mouseover: highlightFeature,
         click: clickFeature
      });
    }

    //Create a custom layer to hold the style and the event listeners.
    var customLayer = L.geoJson(null, {
      style: style,
      onEachFeature: onEachFeature,
    });

 //Attach the custom layer features to the kml data and display on map.




    function enterMap(){
         //Hide the overlay.
         $('#map-home .title-overlay').slideUp();
         $('#map-home .techSiteBtn').slideUp();
         //Enable map viewing functions.
         map.dragging.enable();
         map.touchZoom.enable();
         map.scrollWheelZoom.enable();
         if (map.tap) map.tap.enable();
         // Show the key overlay/
         $('.key .keyBody').text(i18n.gettext("Click here to finish."));
			viewingMap=true;
    }


    //Upon clicking upon a cluster allow the user to explore the map.
    markers.on('clusterclick', enterMap);

    markers.on('click', function (a) {

      if( $("#regionName.value").text() != a.layer.gov ){
         $("#regionName.value").text(a.layer.gov);
         govSiteClash = true;
      }

      var info =  "<span id='name' class='label' >" +i18n.gettext('Facility Name:') +" </span> <span id='name' class='value' > " +
                  a.layer.name + "</span></br>" +
                  "<span id='cons' class='label' >" +i18n.gettext('# Consultations:') +" </span> <span id='cons' class='value' > " +
                  a.layer.consultations + "</span></br>" +
                  "<span id='cases' class='label' > "+i18n.gettext('# Cases:')+" </span> <span id='cases' class='value' > " +
                  a.layer.cases + "</span></br>" +
                  "<span id='lat' class='label' >" +i18n.gettext('Lat:') +" </span> <span id='lat' class='value' >" +
                  Math.round(a.layer.getLatLng().lat*10000)/10000 + "</span>" +
                  "<span id='lng' class='label' >" +i18n.gettext('Lng:') +" </span> <span id='lng' class='value' >"  +
                  Math.round(a.layer.getLatLng().lng*10000)/10000+ "</span></br>";

      $("#map-home .details .selection").html(info);
		console.log(a.layer);

    });

    //Allow the user to click on the key in order to enter and exit the map.
    $('.key .keyText').on('click', function(event){
         if(viewingMap) resetMapView();
			else enterMap();
    });


 });


 function createCallback(overlay, map) {
     return function(data) {
         console.log(data)
        if (overlay.type == "area"){
            function style(feature){
                return {
                    fillColor: overlay.colour,
                    color: '#537080',
                    weight: 0,
                    fillOpacity: overlay.opacity,
                }
            }
            overlayLayer = L.geoJson(data,
                                     {style: style,
                                     })

            overlayLayer.addTo(map);
        }else if(overlay.type == "marker") {
            my_json = L.geoJson(data, {
                pointToLayer: function(feature, latlng) {
                    var Icon = new L.icon({
                        iconUrl: "/static/" + overlay.markericon,
                        iconSize:     [30, 30], // size of the icon
                        iconAnchor:   [15, 15], // point of the icon which will correspond to marker's location
                        popupAnchor:  [30, 30] // point from which the popup should open relative to the iconAnchor
                    });
                    return L.marker(latlng, {icon: Icon});
                },
                //onEachFeature: function (feature, layer) {
                //    layer.bindPopup(feature.properties.name + '<br />'
                //                  + feature.description);
                //}
            });
          my_json.addTo(map);
        }
     }
 }

 overlays = {{content.map|safe}}
 styles = []
 if("overlay" in overlays){
     for(o in overlays.overlay){
         overlay = overlays.overlay[o];
         $.getJSON("/static/" + overlay.file, createCallback(overlay, map))
     }
 }

</script>
