{% extends 'base.html' %}
{% block menu %}
<ul class="nav navbar-nav">
    <li><a href="/{{g.get('language')}}/technical/" >{{ _('Dashboard') }}</a></li>
  <li><a href="/{{g.get('language')}}/reports/" >{{ _('Reports') }}</a></li>
  <li class="active"><a href="/{{g.get('language')}}/messaging/" >{{ _('Notifications') }}</a></li>
  <li><a href="/{{g.get('language')}}/explore/" >{{ _('Explore Data') }}</a></li>
  <li><a href="/{{g.get('language')}}/download/" >{{ _('Download Data') }}</a></li>
  <li><a href="/"{{g.get("language")}} >{{ _('Log out') }}</a></li>
</ul>
{{common.language_chooser()}}

{% endblock %}

