{% extends 'messaging/base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/intlTelInput.css') }}" />
{% endblock %}

{% block body %}
<!-- CONTENT -->
<div class="container page-content">
	<div class="top-bar row">
		<div class="tab-title less-padding-col">
			Notifications Service
		</div>
		<div id="epi-week-title" class="col-xs-12 col-sm-4 col-md-3 pull-right box ">
			Date not loaded.
		</div>
	</div>
	<div id="page-content-wrapper">
		<div class="row">
			<div class="col-xs-12 less-padding-col">
				<div class="box chartBox">
					<div class="chartBox__heading">
						Subscribe to our mailing lists...
					</div>
					<div class="chartBox__content" >  
						<div class="intro">
						Use the form below to subscribe to our e-mail and SMS notification system.   You will receive alerts from the surveillance data that are tailored to your region and diseases of interest. You can also receive our monthly reports delivered straight to your inbox as soon as they are published. 
						</div>

						<form class="subscribe row" id='subscribe-form' method='POST' action='subscribe/subscribed'>
							<div class="left-part col-sm-12 col-md-6 more-padding-col">
								<div class="personal">
									<div class="title row">Please enter your personal details...</div>
									<div class="row">
										<label class="col-xs-12 col-sm-4" >First Name*</label>
										<input class="col-xs-12 col-sm-8" type="text" name="first_name" required>
									</div>
									<div class="row">
										<label class="col-xs-12 col-sm-4" >Last Name*</label>
										<input class="col-xs-12 col-sm-8" type="text" name="last_name" required>
									</div>
									<div class="row">
										<label class="col-xs-12 col-sm-4" >E-mail*</label>
										<input id='email' class="col-xs-12 col-sm-8" type="email" name="email"
										       required oninput='checkEqual()'>
									</div>
									<div class="row">
									   <label class="col-xs-12 col-sm-4" >Re-type E-mail*</label>
										<input class ="col-xs-12 col-sm-8" type="email" id="email2"
										       required oninput='checkEqual()'>
									</div>
									<div class="row">
									   <label class="col-xs-12 col-sm-4" >SMS Number</label>
										<input id="sms-number" class="col-xs-12 col-sm-8" value="" type="tel" name="sms" optional>
									</div>
								</div>
								<div id="report-select" class="row"> </div>
								<div class="row">
									<div class="title" >
										Choose which regions you want to receive alerts from...
									</div>
									<div class="col-xs-0 col-sm-4"></div>
									<div id="region-select"> </div>
								</div>
							</div>
							<input type="hidden" name="country" value="{{content.messages.country}}">
							<div class="right-part col-sm-12 col-md-6 more-padding-col">
								<div id="disease-select"> </div>
								<div class="centered row">
									<input class="submit btn btn-default btn-lg" type='submit' value="Subscribe" >
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}

{% block footer %}
<div class="container">
	<div class="footer__label pull-left col-xs-12 col-sm-6 col-md-5 less-padding-col">
		<p class="footer__title">Meerkat Health Surveillance</p>
		<p>Working with our partners:</p> 
		<ul class="footer__supporters" >
			{% for partner in content.footer.partners %}
				<li>{{partner}}</li>
			{% endfor %} 
		</ul>
		<p>For more information, please e-mail: {{content.footer.email|safe}} </p>
	</div>
	<div class="footer__logos pull-right col-xs-12 col-sm-6 col-md-7 less-padding-col">
		<img src="{{ url_for('static', filename='img/homepage/' + content.footer.logos.who) }}" id="whoLogo" ></img> 
		<img src="{{ url_for('static', filename='img/homepage/' + content.footer.logos.country_partner) }}" id="countryLogo" ></img> 
		{% for logo in content.footer.logos.partners %}
			<img src="{{ url_for('static', filename='img/homepage/' + logo) }}" ></img> 
		{% endfor %} 
	</div>
</div>
{% endblock footer %}

{% block pageJS %}
<script src="{{ url_for('static', filename='js/intlTelInput.js') }}"></script>
<script type="text/javascript" >
  
var config = {{content|tojson|safe}};
var api_root = "{{config['EXTERNAL_API_ROOT']}}";
var week = {{week.epi_week}};

$("#epi-week-title").html( "Week "+get_epi_week() + " · " + get_date() );

//Configure the telephone input field.
var telInput = $('#sms-number');
var preferred = {{content.subscribe.pre_countries|safe}};

telInput.intlTelInput({
	initialCountry: preferred[0],
	utilsScript: "{{ url_for('static', filename='js/utils.js') }}",
	preferredCountries: preferred,
	formatAsYouType: true
});

var reset = function(){
	telInput[0].setCustomValidity('');
};

telInput.blur(function() {
	reset()
	if ($.trim(telInput.val())) {
		if (telInput.intlTelInput("isValidNumber")) {
			telInput[0].setCustomValidity('');
		} else {
			telInput[0].setCustomValidity('Not a valid phone number for this country.' );
		}
	}
});

telInput.on("keyup change", reset);

//Draw the dynamic elements of the form.
$.getJSON( api_root+"/variables/cd_tab", function( variables ){
	$.getJSON( api_root+"/locationtree", function( locations ){

		//Draw the disease Selector
		var disSel ="<div class='title  row'>Choose which alerts you wish to receive...</div>";

		disSel += "";
		disSel += "<div class='row'>";
		disSel += "<div class='col-xs-12 col-sm-6 col-md-4 check'>";
		disSel += "<input id='all-diseases' type='checkbox' value='allDis' name='topics'";
		disSel += "onclick='toggleAll(this); checkSelected(this);'>All Alerts</div> ";
		var keys = Object.keys(variables);

		for( var i in keys ){
			disSel += "<div class='col-xs-12 col-sm-6 col-md-4 check'>";
			disSel += "<input type='checkbox' class='disease' name='topics'";
         disSel += "onclick='checkSelected(this)' value='" + keys[i] + "'>";
			disSel += variables[keys[i]].name + "</div>";
		}
		disSel += "</div>";
		$('#disease-select').html(disSel);

		//Draw the region selector
      var regSel = "<select id='region-selector'><option value='1'"+
		             "selected='selected'>";
      regSel += "All Regions </option>"  
      for( var k in locations.nodes ){
			regSel += "<option name='regions' value='" +
                   locations.nodes[k].id + "' >" + locations.nodes[k].text + "</option>"; 
		}
      regSel += "</select>";
		$('#region-select').html(regSel);

		//Draw the report selector
		var repSel = "<div class='title'>Choose which reports you would like to receive... </div>";
		repSel += "<div class='col-xs-0 col-sm-4'></div><div class='col-xs-12 col-sm-8 no-padding-col'>";
		for( var j in config.subscribe.reports ){
			repSel += "<div class='col-xs-12 col-sm-6 check'>";
			repSel += "<input type='checkbox' onclick='checkSelected(this);' class='reports'";
			repSel += "name='topics' value='" + config.subscribe.reports[j].id + "'>";
			repSel += config.subscribe.reports[j].name + "</div>";
		}
		repSel += "</div>";
		$('#report-select').html(repSel);		

	});
});

//Toggle all disease checkboxes when all diseases are selected.
function toggleAll(source){
	$('.disease').each( function(){
		this.checked = source.checked;
		this.disabled = source.checked ? true : false;
	});
}

//FORM VALIDATION METHODS

//Check that the two e-mail address are equal
function checkEqual( ) {

	var email1 = document.getElementById('email');
	var email2 = document.getElementById('email2');

	if ( email2.value != email1.value ) {
		email2.setCustomValidity('Emails Must be Matching.');
		return false;
	} else {
		//Input is valid -- reset the error message
		email2.setCustomValidity('');
		return true;
	}
}

//Check that at least one checkbox is clicked
function checkSelected(input) {

	checked = $('input[name=topics]:checked').length;
	if(!checked) {
		input.setCustomValidity('You must tick at least one checkbox.');
		return false;
	}else{
		boxes = document.getElementsByName('topics')
		for( var i=0; i<boxes.length; i++ ){
			boxes[i].setCustomValidity('');
		}
		return true;
	}
}

$("#subscribe-form").submit(function(event) {

	var valid = true;

	//Check validity
	if( !checkSelected( document.getElementById('all-diseases') ) ){
		checked = $('input[name=topics]').each( function(){
			this.setCustomValidity('You must tick at least one checkbox.');
		});		
		valid = false;
	}

	if( !checkEqual() ) valid = false;

	if( valid ){	

		//Get the formatted sms number, if it's not there remove it
		var number = telInput.intlTelInput("getNumber")
		if( number ){
			telInput.val(number);
		}else{
			telInput.remove();
		}

		//Assemble the topic IDs
		var prefix = '{{content.subscribe.topic_prefix}}';
		//Get the region		   
		var reg = $('#region-selector').val()

		$( 'input[name=topics]:checked' ).each( function(){

			//Remove everything up to the last hyphen
			//Old prefix can be retained in cache.
			var value = $(this).val();
			var parts = value.split("-");
			value = parts[parts.length-1]

			//Replace with new prefix.
			//Only add the region to disease topics (not needed for reports).
			if( $(this).hasClass('reports') ){
				$(this).val( prefix + value );
			}else{
				$(this).val( prefix + reg + "-" + value );
			}	

		});

		return;
	}

	event.preventDefault();
});
</script>

{% endblock pageJS %}
