{% extends 'messaging/base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/intlTelInput.css') }}" />
{% endblock %}

{% block body %}
<!-- CONTENT -->

<div class="container page-content">
	<div class="breaker"> </div>
	<div class="top-bar row">
		<div class="location-box box">
			<a href="#menu-toggle" id="menu-toggle" class="menu-toggle">
			<div class="location-box__label">
				<div>{{ _('Location:') }}</div>
				<div id="location-title" class="location-title" >{{ _('Not Loaded') }}</div>
			</div>
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="glyphicon glyphicon-chevron-left hidden"></span>
			</a>
		</div>
		<div class="tab-title less-padding-col">
			 {{_('Public Health Surveillance Notifications')}}
		</div>
		<div id="epi-week-title" class="col-xs-12 col-sm-12 col-md-3 pull-right box ">
			{{_('Date not loaded.') }}
		</div>
	</div>


	<div class="toggled" id="wrapper">

		<div id="sidebar-wrapper" >
			<div id="location-selector" class="location-selector">
				{{ _('Locations not loaded') }}
			</div>
		</div>

	  <div id="page-content-wrapper">
		  <div class="row" id='subscribe-box'>
			  <div class="col-xs-12 less-padding-col">
				  <div class="box chartBox">
					  <div class="chartBox__heading">
						  {{ _('Subscribe to Alerts and Reports') }}
							{% if 'payload' in g and 'admin' in g.payload.acc[content.auth_country] %}
							<div class="box__type-selector pull-right">
								<a href='#' onclick="scrollToID('#hermes-admin', 750); return false;">
									Admin
								</a>
							</div>
							{% endif %}
					  </div>

					  <div class="chartBox__content" >
						  <div class="intro">
						  {{ _('Use the form below to subscribe to E-mail and SMS notifications for Alerts and Reports.') }}
						  </div>

						  <form class="subscribe row" id='subscribe-form' method='POST' action='subscribe/subscribed'>
							  <div class="left-part col-sm-12 col-md-6 more-padding-col">
								  <div class="personal">
									  <div class="title row">{{ _('Enter personal details') }}:</div>
									  <div class="row">
										  <label class="col-xs-12 col-sm-4" >{{ _('First Name*') }}</label>
										  <input class="col-xs-12 col-sm-8" type="text" name="first_name" required>
									  </div>
									  <div class="row">
										  <label class="col-xs-12 col-sm-4" >{{ _('Last Name*') }}</label>
										  <input class="col-xs-12 col-sm-8" type="text" name="last_name" required>
									  </div>
									  <div class="row">
										  <label class="col-xs-12 col-sm-4" >{{ _('E-mail*') }}</label>
										  <input id='email' class="col-xs-12 col-sm-8" type="email" name="email"
										         required oninput='checkEqual()'>
									  </div>
									  <div class="row">
									     <label class="col-xs-12 col-sm-4" >{{ _('Re-type E-mail*') }}</label>
										  <input class ="col-xs-12 col-sm-8" type="email" id="email2"
										         required oninput='checkEqual()'>
									  </div>
									  <div class="row">
									     <label class="col-xs-12 col-sm-4" >{{ _('SMS Number') }}</label>
										  <input id="sms-number" class="col-xs-12 col-sm-8" value="" type="tel" name="sms" optional>
									  </div>
								  </div>
									<div id="report-select" class="row"> </div>
									<div class="row">
										<div class="col-xs-12 no-padding-col title" >
										 {{ _(' Select which location to receive Alerts from:') }}
										</div>
										<div class="col-xs-0 col-sm-4"></div>
										<a href="" class="col-xs-12 col-sm-8 no-padding-col menu-toggle location-name"></a>
									</div>
							  </div>
							  <input type="hidden" name="country" value="{{content.messages.country}}">
							  <div class="right-part col-sm-12 col-md-6 more-padding-col">
                  <div id="disease-select"> </div>
								  <div class="centered row">
										<input type="hidden" id="subscriberID" name="id" value="">
									  <input class="submit btn btn-default btn-lg" type='submit' value="{{_('Subscribe')}}" >
								  </div>
							  </div>
						  </form>
					  </div>
				  </div>
			  </div>
		  </div>
			{% if 'payload' in g and 'admin' in g.payload.acc[content.auth_country] %}
			<div class="row" id="hermes-admin">
			  <div class="col-xs-12 less-padding-col">
				  <div class="box chartBox">
					  <div class="chartBox__heading">
						  {{ _('Administer Subscribers') }}
					  </div>
					  <div class="chartBox__content" >
							<div class='table-toolbar'></div>
								<div id='subscriber-table' class="subscriber-table" data-locale="{{ g.get('language') + "-" + g.get('language').upper() }}">
								<table></table>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
    </div>
	</div>
</div>
{% endblock body %}

{% block pageJS %}
<script src="{{ url_for('static', filename='js/intlTelInput.js') }}"></script>
<script type="text/javascript" >

$('ul.navbar-nav .active').removeClass('active');
$('.menu-notifications').addClass('active');

var config = {{content|tojson|safe}};
var api_root = "{{config['EXTERNAL_API_ROOT']}}";
var week = {{week.epi_week}};

$(".menu-toggle").click(function(e) {
	e.preventDefault();
	$("#wrapper").toggleClass("toggled");
	$(".location-box .glyphicon").toggleClass( "hidden" );
});
loadLocationTree({ locID:{{loc}} });
$("#epi-week-title").html( "{{ _('Week') }}"+ " " + get_epi_week() + " · " + get_date() );

//This method updates aspects of the page based upon the users input.
//All three arguments can be left undefined if necessary - all reports will update with current locID and year.
function drawCharts(locID, year, reports){

	//locID (the id of the location) is an optional argument.
	//If it isn't set, look at the current page state locID, if that isn't set, default to 1.
	if( typeof locID == 'undefined' ){
		if( history.state === null || typeof history.state.locID == 'undefined' ) locID = {{g.allowed_location}};
		else locID = history.state.locID;
	}

	//Load the location data from the locations tree.
	var node = locations.first( {strategy: 'breadth'}, function(x){ return x.model.id===locID; });

	$('.location-name').html( i18n.gettext(node.model.text) );

}

//Configure the telephone input field.
var telInput = $('#sms-number');
var preferred_sms_countries = config.subscribe.pre_countries;

telInput.intlTelInput({
	initialCountry: preferred_sms_countries[0],
	utilsScript: "{{ url_for('static', filename='js/utils.js') }}",
	preferredCountries: preferred_sms_countries,
	formatAsYouType: true
});

var reset = function(){
	telInput[0].setCustomValidity('');
};

telInput.blur(function() {
	reset()
	if ($.trim(telInput.val())) {
		if (telInput.intlTelInput("isValidNumber")) {
			telInput[0].setCustomValidity('');
		} else {
			telInput[0].setCustomValidity("{{_('Not a valid phone number for this country.')}}" );
		}
	}
});

telInput.on("keyup change", reset);

drawForm();
drawSubscriberTable(locale='{{ g.get('language') + "-" + g.get('language').upper() }}');



//FORM VALIDATION METHODS

//Check that the two e-mail address are equal
function checkEqual( ) {

	var email1 = document.getElementById('email');
	var email2 = document.getElementById('email2');

	if ( email2.value != email1.value ) {
		email2.setCustomValidity(" {{ _('Emails Must be Matching.') }} ");
		return false;
	} else {
		//Input is valid -- reset the error message
		email2.setCustomValidity('');
		return true;
	}
}

//Check that at least one checkbox is clicked
function checkSelected(input) {

	checked = $('input[name=topics]:checked').length;
	if(!checked) {
		input.setCustomValidity("{{_('You must tick at least one checkbox.') }}");
		return false;
	}else{
		boxes = document.getElementsByName('topics')
		for( var i=0; i<boxes.length; i++ ){
			boxes[i].setCustomValidity('');
		}
		return true;
	}
}

$("#subscribe-form").submit(function(event) {

	var valid = true;

	//Check validity
	if( !checkSelected( document.getElementById('all-diseases') ) ){
		checked = $('input[name=topics]').each( function(){
			this.setCustomValidity(" {{_('You must tick at least one checkbox.') }}");
		});
		valid = false;
	}

	if( !checkEqual() ) valid = false;

	if( valid ){

		//Get the formatted sms number, if it's not there remove it
		var number = telInput.intlTelInput("getNumber")
		if( number ){
			telInput.val(number);
		}else{
			telInput.remove();
		}

		//Assemble the topic IDs
		var prefix = '{{content.subscribe.topic_prefix}}';
		//Get the region
		var reg = history.state.locID

		$( 'input[name=topics]:checked' ).each( function(){

			//Remove everything up to the last hyphen
			//Old prefix can be retained in cache.
			var value = $(this).val();
			var parts = value.split("-");
			value = parts[parts.length-1]

			//Replace with new prefix.
			//Only add the region to disease topics (not needed for reports).
			if( $(this).hasClass('reports') ){
				$(this).val( prefix + value );
			}else{
				$(this).val( prefix + reg + "-" + value );
			}

		});

    return;

	}

	event.preventDefault();
});
</script>

{% endblock pageJS %}
