{% extends 'messaging/base.html' %}

{% block body %}
<!-- CONTENT -->


<div class="container page-content">
	<div class="top-bar row">
		<div class="tab-title less-padding-col">
			{{ _('Public Health Surveillance Notifications') }}
		</div>
		<div id="epi-week-title" class="col-xs-12 col-sm-4 col-md-3 pull-right box ">
			{{ _('Date not loaded.') }}
		</div>
	</div>
	<div id="page-content-wrapper">
		<div class="row">
			<div class="col-xs-12 less-padding-col">
				<div class="box chartBox">
					<div class="chartBox__heading">
						{{ _('Please verify your contact details') }}
					</div>
					<div class="chartBox__content" >
					    <div class="intro">
						{{ _('<p>Hello %(firstname)s %(lastname)s,</p>
							<p>Thank you for subscribing to receive our public health surveillance notifications.</p>
							<p><b>
							Before we can activate your subscription, we need to verify your contact details.
							</b></p>
							<p>
							To do this, please follow the instructions in the e-mail we have sent to your address:
							%(email)s
							</p>',firstname=data['first_name'], lastname=data['last_name'], email=data['email']) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}

{% block pageJS %}
<script type="text/javascript" >

$('ul.navbar-nav .active').removeClass('active');
$('.menu-notifications').addClass('active');

var config = {{content|tojson|safe}};
var api_root = "{{config['EXTERNAL_API_ROOT']}}";
var week = {{week.epi_week}};

$("#epi-week-title").html( "Week "+get_epi_week() + " · " + get_date() );


function submitForm(){

}

</script>

{% endblock pageJS %}
