{% extends 'base.html' %}

{% block menu %}
<ul class="nav navbar-nav">
	<li><a href="#" >Dashboard</a></li>
	<li><a href="/reports/" >Reports</a></li>
	<li><a href="/messaging/" >Notifications</a></li>
	<li><a href="#" >Explore Data</a></li>
	<li class="active"><a href="/download/" >Download Data</a></li>
	<li><a href="/" >Log out</a></li>
</ul>
{% endblock %}

{% block body %}
<!-- CONTENT -->
<div class="container page-content">
	<div class="top-bar row">
		<div class="tab-title less-padding-col">
			Download Data 
		</div>
		<div id="epi-week-title" class="col-xs-12 col-sm-4 col-md-3 pull-right box ">
			Date not loaded.
		</div>
	</div>
	<div id="page-content-wrapper">
		<div class="row">
			<div class="col-xs-12 less-padding-col">
				<div class="box chartBox">
					<div class="chartBox__heading">
						Select the data you wish to download
					</div>
					<div class="chartBox__content" >
						<div class="intro">
							{{content.intro}}
						</div>
						<div class="breaker"></div>
						<div class="row">
							<form id="data-download" 
							      class="col-sm-offset-1 col-md-offset-2 col-xs-12 col-sm-8 col-md-6">
								<div class="row">
									<label class="col-xs-12 no-padding-col">
										Which form would you like to download?
									</label>
									<select class="col-sm-offset-3" id="form-selector"></select>
								</div>
								<div id="basic-selector" class="row box chartBox">
									<div class="chartBox__heading">
										Data Fields
										<div class="pull-right">
											<a href="#" onclick="selectAll('basic-fields'); return false;">
												All
											</a> /
											<a href="#" onclick="selectNone('basic-fields'); return false;">
												None
											</a>
										</div>
									</div>
									<div id="basic-fields" class="chartBox__content"></div>
								</div>
								<div class="row check">
									<label><a id="show-fields" href="#">View advanced fields</a></label>
								</div>
								<div id="advanced-selector" style="display:none;" class="row box chartBox">
									<div class="chartBox__heading">
										Advanced Fields
										<div class="pull-right">
											<a href="#" onclick="selectAll('advanced-fields'); return false;">
												All
											</a> /
											<a href="#" onclick="selectNone('advanced-fields'); return false;">
												None
											</a>
										</div>
									</div>
									<div id="advanced-fields" class="chartBox__content"></div>
								</div>
								<div class="row">
									<input type="submit" 
									       class="submit btn btn-default btn-lg col-sm-offset-3" 
									       value="Download">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}

{% block footer %}
<div class="container">
	<div class="footer__label pull-left col-xs-12 col-sm-6 col-md-5 less-padding-col">
		<p class="footer__title">Meerkat Health Surveillance</p>
		<p>Working with our partners:</p> 
		<ul class="footer__supporters" >
			{% for partner in content.footer.partners %}
				<li>{{partner}}</li>
			{% endfor %} 
		</ul>
		<p>For more information, please e-mail: {{content.footer.email|safe}} </p>
	</div>
	<div class="footer__logos pull-right col-xs-12 col-sm-6 col-md-7 less-padding-col">
		<img src="{{ url_for('static', filename='img/homepage/' + content.footer.logos.who) }}" id="whoLogo" ></img> 
		<img src="{{ url_for('static', filename='img/homepage/' + content.footer.logos.country_partner) }}"
		     id="countryLogo" ></img> 
		{% for logo in content.footer.logos.partners %}
			<img src="{{ url_for('static', filename='img/homepage/' + logo) }}" ></img> 
		{% endfor %} 
	</div>
</div>
{% endblock footer %}

{% block pageJS %}

<script type="text/javascript" >

var config = {{content|tojson|safe}};
var api_root = "{{config['EXTERNAL_API_ROOT']}}";
var week = {{week.epi_week}};

$("#epi-week-title").html( "Week "+get_epi_week() + " · " + get_date() );

$.ajaxPrefilter(function( options, originalOptions, jqXHR ) {
	options.data = $.param($.extend(originalOptions.data, { api_key: config.api_key })) // 
});

//Check that at least one checkbox is clicked
function checkSelected( ) {

	checked = $('input[name=attributes]:checked').length;

	if(!checked) {

		boxes = document.getElementsByName('attributes')
		for( var i=0; i<boxes.length; i++ ){
			boxes[i].setCustomValidity('You must tick at least one checkbox.');
		}

		return false;

	}else{

		boxes = document.getElementsByName('attributes')
		for( var i=0; i<boxes.length; i++ ){
			boxes[i].setCustomValidity('');
		}

		return true;

	}
}

function selectAll( idTag ){
	$('#' + idTag + ' input[name=attributes]').each(function(){
		this.checked = true;
	});
	checkSelected( );
}

function selectNone( idTag ){	
	$('#' + idTag + ' input[name=attributes]').each(function(){
		this.checked = false;
	});
	checkSelected( );
}

function selectDefault(){

	//Load the default values.
	var defaultAttributes = config.forms[ $('#form-selector').val() ].default;

	//If no default values, the default to select all.
	if( defaultAttributes.length == 0 ){

		selectAll();

	//Else just select default fields.
	}else{

		//Uncheck everything
		selectNone();

		//Finally set each default attribute checkbox to checked.
		for( var k in defaultAttributes ){		
		  $("input[value='" + defaultAttributes[k] + "']" ).prop('checked', true); 
		}
	}
	checkSelected( );
}

$.getJSON( api_root+"/export/forms", function( data ){

	function drawAttributes(form){

		var basicFieldsHtml = "";
		var advancedFieldsHtml = "";

		var allFields = data[form]; //All api fields, from which we take intersect and difference. 
		var basicFields = getIntersect( allFields, config.forms[form].default ); 
		var advancedFields = getDifference( allFields, basicFields ); 

		//If there are no basic fields provided, then show all fields as basic fields.
		if( basicFields.length == 0 ){
			basicFields = advancedFields;
			advancedFields = [];
			$('#show-fields').hide();
			$('#advanced-selector').slideUp();
		}else{
			$('#show-fields').show();
		}

		console.log( "Listing basic fields" )

		for( var j in basicFields ){
			basicFieldsHtml += "<div class='check attribute col-xs-12 col-md-6' >"
			basicFieldsHtml += "<input type='checkbox' name='attributes' ";
			basicFieldsHtml += "onclick='checkSelected();' value='" + basicFields[j] + "' ";
			basicFieldsHtml += "> <label>" + basicFields[j] + "</label></div>";
      console.log( basicFields[j] )
		}

		for( var k in advancedFields ){
			advancedFieldsHtml += "<div class='check attribute col-xs-12 col-md-6' >"
			advancedFieldsHtml += "<input type='checkbox' name='attributes' ";
			advancedFieldsHtml += "onclick='checkSelected();' value='" + advancedFields[k] + "' ";
			advancedFieldsHtml += "> <label>" + advancedFields[k] + "</label></div>";
		}

		$('#basic-fields').html(basicFieldsHtml);
		$('#advanced-fields').html(advancedFieldsHtml);

		selectAll( 'basic-fields');
	}


	var configForms = Object.keys(config.forms);
	var apiForms = Object.keys( data );
	var formSelector = "";

	for( var i in apiForms ){

		formSelector += "<option value='" + apiForms[i] + "' ";
		if( apiForms[i] == "case" ) formSelector += "selected='selected'"
		formSelector += ">";

		//If the form is recorded in the config file, use the given "display name".
		if( configForms.indexOf( apiForms[i] ) != -1 ){
			formSelector += config.forms[ apiForms[i] ].name;
		}else{
			formSelector += apiForms[i];		
		}

		formSelector += "</option>"
	}

	$('#form-selector').html(formSelector);

	drawAttributes( $('#form-selector').val() );

	$('#show-fields').click( function(){
		$('#advanced-selector').slideToggle();
		drawAttributes( $('#form-selector').val() );
	});

	$('#form-selector').change( function(){
		drawAttributes( $(this).val() );
	});

	

	$('#data-download').submit( function(event){
		//Validate the form.
		if( checkSelected() ){
			//Assemble the appropriate API call.
			var url = api_root + "/export/form/" + $('#form-selector').val() + "?fields=";
			$('input[name=attributes]:checked').each(function(){
				url += $(this).val() + ",";
			});
		
			url += "&api_key=" + config.api_key;

			window.open( url );
		}else{
			event.preventDefault();
		}
	});

});


</script>

{% endblock pageJS %}
