{% extends 'base.html' %}
{% block menu %}
{% endblock menu %}

{% block body %}
<!-- CONTENT -->
<div class="container page-content">
	<div class="top-bar row">
		<div class="tab-title less-padding-col">
			{{_('Download Data') }}
		</div>
		<div id="epi-week-title" class="col-xs-12 col-sm-12 col-md-3 pull-right box ">
			{{ _('Date not loaded.') }}
		</div>
	</div>
	<div id="page-content-wrapper">
        <div class="row">
            <div class="col-xs-12 less-padding-col">
                <div class="box chartBox">
                    <div class="chartBox__heading" id='heading'>
                        {{ _('Your data set is being prepared.') }}
                    </div>
                    <div class="chartBox__content" >
                        <div class='breaker'></div>
                        <div class='clearfix wait-content'>
							<div class="download-progress col-sm-offset-1">
								<div class="progress progress-striped active">
									<div id ='progressbar' class="progress-bar" style='min-width:3%' role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" >
									</div>
                                    <div class='progress-text'></div>
								</div>
							</div>
                            <div id='download-button' class='btn-group col-sm-offset-1'>
                                <div id='download-label'
                                   class='btn btn-lg btn-default'
                                   href='#'>
                                        {{ _('Download Here') }}:
                                </div>
                                <a id='download-csv-button'
                                   class='btn btn-lg btn-default'
                                   href='#'>
                                   <span class='glyphicon glyphicon-download'></span>
                                        {{ _('CSV') }}
                                </a>
                                <a id='download-xls-button'
                                   class='btn btn-lg btn-default'
                                   href='#'>
                                   <span class='glyphicon glyphicon-download'></span>
                                        {{ _('Excel') }}
                                </a>
                            </div>
						</div>
                        <div class='breaker'></div>
                        <p class='col-sm-offset-1'> <b>Current Status:</b> <span id="status"> </span></p>
                    </div>
        		</div>
            </div>
		</div>
	</div>
</div>
{% endblock body %}

{% block pageJS %}

<script type="text/javascript" >

// Global name space variables.
var config = {{content|tojson|safe}};
var api_root = "{{config['EXTERNAL_API_ROOT']}}";
var week = {{week.epi_week}};
var url ='{{api_url|safe}}' + "&language=" + language;
var progress = 0;
var progressChecker = '';
var uuid = '';

// Add the date details.
$("#epi-week-title").html( i18n.gettext("Week")+" "+get_epi_week() + " · " + get_date() );

// Firstly, get the info about which data download the user wants. Then start checking its progress.
$.getJSON(url, function( data ){
    // Get the data download uuid.
    uuid = data;
    // Update the status message.
    $("#status").html(i18n.gettext("Preparation of data set has started. Please note that this can take some time."));
    // Start making regular checks on the download progress.
    progressChecker = setInterval(function() {
        check_status();
    }, 2000);
});

// A function that checks the status of the download and updates the html accordingly
function check_status(){
    $.getJSON(api_root + "/export/get_status/" + uuid, function( data ){
        if(data){
            if(data.status == 1){
                if(data.success == 1){
                    $(".progress-bar").css("width", 100 + "%");
                    $(".progress-text").text(100 + " %");
                    $('#download-csv-button').attr('href', api_root + "/export/getcsv/" + uuid);
                    $('#download-xls-button').attr('href', api_root + "/export/getxls/" + uuid);
                    $('#download-button').show();
                    $('.download-progress').fadeOut('slow');
                    $("#heading").html(i18n.gettext("Data set was sucesfully generated."));
                    $("#status").html("Finished");
                }else{
                    $("#heading").html(i18n.gettext("Data set generation was unsuccessful."));
                    $("#status").html("Finished");
                }
                clearInterval(progressChecker)
            }else{
                progress = Math.round(data.status*100);
                $('.progress-bar').css('width', progress+'%')
                    .attr('aria-valuenow', progress);
                $(".progress-text").text(progress + " %");
                $("#status").html(i18n.gettext("Dataset is still being prepared, please wait."))
            }
        }
    });
}

</script>

{% endblock pageJS %}
