<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'includes/header.html' %}
  {% block head %} {% endblock %}

</head>
<body class="{{content.application}}" {{ 'data-spy="scroll" data-target=".navmenu"' if content.application == "homepage" }} >

<!-- NAVBAR -->
  <nav class="navbar navbar-fixed-top">
    <div class="container navmenu">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false">
          <span class="sr-only">{{ _('Toggle navigation') }}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand scroll-top" href="#">
          <img class="navbar-flag" src="{{ url_for('static', filename='img/flags/4x3/' + content.flag) }}"> </img>
          <span class="hidden-xs hidden-sm hidden-md">{{_(content.titles.nav|safe)}}</span>
          <span class="hidden-lg hidden-xl">{{_(content.titles.mob_nav|safe)}}</span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="menu-collapse" >
        <div class='complete-navbar'>
            {% block menu %}
            <ul class="nav navbar-nav">
                {% for item in content.main_menu %}
                    {% if (('access' in item) and ("payload" in g and item.access in g.payload.acc[content.auth_country]))
                        or ('access' not in item) %}
                    <li class="menu-{{item.text|slugify}}">
                        <a href="/{{g.get('language')}}{{item.url}}" >{{ _(item.text) }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                <li class="menu-logout">
                    <a href="/{{g.get('language')}}/logout?url={{request.url_root}}{{g.get('language')}}" >
                        {{ _('Log out') }}
                    </a>
                </li>
            </ul>
            {% endblock %}
            <div class='navbar-buttons'>
                <div class=" button lang-sel hidden">
                </div>
                {% if 'payload' in g and 'personal' in g.payload.acc[content.auth_country] %}
                <div class="button settings" >
                    <a href="/{{g.language}}/account_settings">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
                {% endif %}
            </div>
          </div>
      </div>
    </div>
  </nav>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
	 <ul class='container flashes'>
	 {% for category, message in messages %}
	   <li>
			<div class="frame {{category}}">
				<span class="glyphicon glyphicon-alert" ></span>
				<div class='text'>
					{{ _(message) }}
				</div>
			</div>
		</li>
	 {% endfor %}
	 </ul>
  {% else %}
    <div id="base-breaker" class="breaker"> </div>
  {% endif %}
{% endwith %}

    {% block body %}{% endblock %}
    <div id='report-fault-link'>
        <a href='/{{g.language}}/fault?url={{request.path}}' target='_blank'>{{_('Report Faulty Page')}}</a>
    </div>

<!-- This Code will handle the spinner all over the site ... -->
<div id="divSpinner" class="spinnerModal">
</div>


    <!-- FOOTER -->
    <footer>
      <div  class="row">
      {% block footer %}
      <div class="container">
	      <div class="footer__label pull-left col-xs-12 col-sm-6 col-md-5 less-padding-col">
		      <p class="footer__title">{{_(content.titles.nav)|safe}}</p>
		      <p>{{ _('Working with our partners:') }}</p>
		      <ul class="footer__supporters" >
			      {% for partner in content.footer.partners %}
				      <li>{{_(partner)}}</li>
			      {% endfor %}
		      </ul>
		      <p>{{ _('For more information, please e-mail:') }} {{content.footer.email|safe}} </p>
	      </div>
	      <div class="footer__logos pull-right col-xs-12 col-sm-6 col-md-7 less-padding-col">
		  <img src="{{ url_for('static', filename='img/' + content.footer.logos.country_partner) }}" id="countryLogo" ></img>
		      {% for logo in content.footer.logos.partners %}
			      <img src="{{ url_for('static', filename='img/' + logo) }}" ></img>
              {% endfor %}
                  <img src="{{ url_for('static', filename='img/' + content.footer.logos.who) }}" id="whoLogo" ></img>
	      </div>
      </div>
      {% endblock %}
      </div>
    </footer>

  {% include 'includes/js.html' %}
  {% block pageJS %}{% endblock %}
  </body>
</html>
