<!DOCTYPE html>
<html lang="en">
<head>
{% include 'includes/header.html' %}
{% block head %} {% endblock %}
</head>
<body class="{{content.application}}" {{ 'data-spy="scroll" data-target=".navmenu"' if content.application == "homepage" }} >

<!-- NAVBAR -->
  <nav class="navbar navbar-fixed-top">
    <div class="container navmenu">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand scroll-top" href="#">
          <img class="navbar-flag" src="{{ url_for('static', filename='img/flags/4x3/' + content.flag) }}"> </img>
          <span class="hidden-xs hidden-sm">{{content.titles.nav|safe}}</span>
          <span class="visible-xs visible-sm">{{content.titles.mob_nav|safe}}</span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="menu-collapse" >
        {% block menu %}{% endblock %}
      </div>
    </div>
  </nav>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
	 <ul class='container flashes'>
	 {% for category, message in messages %}
	   <li>
			<div class="frame {{category}}">
				<span class="glyphicon glyphicon-alert" ></span>
				<div class='text'>
					{{ message }}
				</div>
			</div>
		</li>
	 {% endfor %}
	 </ul>
  {% else %}
    <div class="breaker"> </div>
  {% endif %}
{% endwith %}

    {% block body %}{% endblock %}
    <!-- FOOTER -->
    <footer class="row">
        {% block footer %}{% endblock %}
    </footer>
  {% include 'includes/js.html' %}
  {% block pageJS %}{% endblock %}
  </body>
</html>
