<!DOCTYPE html>
<html lang="en">
  {% include 'includes/header.html' %}
<body class="{{content.application}}" {{ 'data-spy="scroll" data-target=".navmenu"' if content.application == "homepage" }} >

<!-- NAVBAR -->
  <nav class="navbar navbar-fixed-top">
    <div class="container navmenu">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand scroll-top" href="#">
          <img class="navbar-flag" src="{{ url_for('static', filename='img/flags/4x3/' + content.flag) }}"> </img>
          <span class="hidden-xs hidden-sm">{{content.titles.nav|safe}}</span>
          <span class="visible-xs visible-sm">{{content.titles.mob_nav|safe}}</span>
        </a>

      </div>
      <div class="collapse navbar-collapse" id="menu-collapse" >
        {% block menu %}{% endblock %}
      </div>
    </div>
  </nav>

    {% block body %}{% endblock %}
    <!-- FOOTER -->
    <footer class="row">
        {% block footer %}{% endblock %}
    </footer>
  {% include 'includes/js.html' %}
  {% block pageJS %}{% endblock %}
  </body>
</html>
