{% extends 'base.html' %}
{% block menu %}
<ul class="nav navbar-nav">
  <li><a href="/{{g.get('language')}}/technical/" >{{ _('Dashboard') }}</a></li>
  <li><a href="/{{g.get('language')}}/reports/" >{{ _('Reports') }}</a></li>
  <li><a href="/{{g.get('language')}}/messaging/" >{{ _('Notifications') }}</a></li>
  <li class="active"><a href="/{{g.get('language')}}/explore/" >{{ _('Explore') }}</a></li>
  <li><a href="/{{g.get('language')}}/download/" >{{ _('Download') }}</a></li>
  <li><a href="/"{{g.get("language")}} >{{ _('Log out') }}</a></li>
</ul>
{{common.language_chooser()}}
{% endblock %}

{% block body %}
<!-- CONTENT -->
<div class="container page-content">

    <div class="top-bar row">
        <div id="location-option" class="location-box box cross-option timeline-option" name="location" value="1">
            <a href="#menu-toggle" id="menu-toggle">
                <div class="location-box__label">
                    <div>{{ _('Location:') }}</div>
                    <div id="location-title" class="location-title">{{ _('Not Loaded') }}</div>
                </div>
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="glyphicon glyphicon-chevron-left hidden"></span>
            </a>
        </div>
        <div class="tab-title less-padding-col">
            {{ _('Explore Data') }}
        </div>
        <div id="epi-week-title" class="col-xs-12 col-sm-4 col-md-3 pull-right box ">
           {{ _('Date not loaded.') }}
        </div>
    </div>

    <div class="disease toggled" id="wrapper">

        <div id="sidebar-wrapper" >
            <div id="location-selector" class="location-selector">
                {{ _('Locations not loaded') }}
            </div>
        </div>

        <div id="page-content-wrapper">
            <div class="row">
                <div class='col-xs-6 less-padding-col'>
                    <div class="form-group">
                        <label> {{_('Start Date:') }} </label>
                        <div class='input-group date cross-option timeline-option' id='start-date' name='start_date' value=''>
                            <input type='text' class="form-control "/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-xs-6 less-padding-col'>
                    <div class="form-group">
                        <label> {{ _('End Date:') }} </label> 
                        <div class='input-group date cross-option timeline-option' id='end-date' name='end_date' value=''>
                            <input type='text' class="form-control explore-date" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                </table>
                <div class="col-xs-12 less-padding-col exploreChart" >
                    <div class="row">        
                        <div class="box cornerBox" >
                            <span class="glyphicon glyphicon-transfer" id="transpose-button" 
                                  onclick="callTranspose();" title="Flip axis" >
                            </span>
                        </div>
                        <div class="box xaxis" >
                            <div class="axis-selector">
                            </div>
                            <div class="options">
                                <span class="glyphicon glyphicon-check" 
                                      id="toggle-selected" onClick="toggleSelected(this);" table="cross-table"
                                      title="{{ _('Hide not selected rows/Show hidden rows') }}" value="shown" >
                                </span>
                                <span class="glyphicon glyphicon-resize-small cross-option" id="strip-button"
                                      onClick="callStrip(this);" title="{{ _('Hide/show empty records') }}" table="cross-table"
                                      value=true name="strip">
                                </span>
                                <span class="glyphicon glyphicon-pencil cross-option" id="colour-button"
                                      onClick="callColour(this);" title="{{ _('Colour the table') }}" table="cross-table"
                                      value=true name="colour">
                                </span>
                                <span class="glyphicon glyphicon-save cross-option" id="save-csv"
                                      onClick='$("#cross-table").tableExport({"type":"xls", "fileName": "data"});' 
                                      title="{{ _('Download Excel') }}" value="" name="excel">
                                </span>
                            </div>
                            <div id="toolbox">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="box yaxis" >
                            <div class="axis-selector">
                            </div>
                        </div>
                        <div id= "cross-wrapper" class="box chartBox " >

                        </div>
                    </div>
                    <div id="timeline">
                        <div class="row">
                            <div class="box timeline-toolbar" >
                                <div class="options">
                                    <span class="glyphicon glyphicon-check" 
                                          id="toggle-selected" onClick="toggleSelected(this);" 
                                          title="Hide not selected rows/Show hidden rows" 
                                          table="timeline-table" value="shown" >
                                    </span>
                                    <span class="glyphicon glyphicon-resize-small timeline-option" id="strip-button"
                                          onClick="callStrip(this);" title="{{ _('Hide/show empty records') }}" 
                                          table="timeline-table" value=true name="strip">
                                    </span>
                                    <span class="glyphicon glyphicon-pencil timeline-option" id="colour-button"
                                          onClick="callColour(this);" title="{{_('Colour the table') }}" 
                                          table="timeline-table" value=true name="colour">
                                    </span>
                                    <span class="glyphicon glyphicon-save" id="save-csv"
                                          onClick='$("#timeline-table").tableExport({"type":"xls", "fileName": "data"});' 
                                          title="{{_('Download Excel') }}" >
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="timeline-wrapper" class="box timeline" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block pageJS %}

<script type="text/javascript" >

var config = {{content|tojson|safe}};
var api_root = "{{config['EXTERNAL_API_ROOT']}}";
var week = {{week.epi_week}};
loadLocationTree({locID:{{loc}}});

//Add the api key to any ajax requests.
$.ajaxPrefilter(function( options, originalOptions, jqXHR ) {
    options.data = $.param($.extend(originalOptions.data, { api_key: config.api_key })) // 
});

$( function(){
     moment().utc();
    //Add a listener to the location selector.
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $(".location-box .glyphicon").toggleClass( "hidden" );
    });
    
    //Load the date/week
    $("#epi-week-title").html( "Week " + get_epi_week() + " · " + get_date() );

    //Draw axis category selectors.
    var axisSelector = "<select>"
    for( var i in config.categories ){
        var cat = config.categories[i];
        axisSelector += "<option value='" + cat[0] + "'>" + i18n.gettext(cat[1]) + "</option>";
    }
    axisSelector += "</select>";
    $('.axis-selector').html(axisSelector);

    //Draw date/time pickers.
    d = new Date();
    $('#start-date').datetimepicker({
        useCurrent: false,
        defaultDate: moment.utc(d.getFullYear()+"-01-01 00:00:00 "),
        format: "DD/MM/YYYY",
        locale: language
    });
    $('#end-date').datetimepicker({
        useCurrent: true,
        defaultDate: d.toISOString(),
        format: "DD/MM/YYYY",
        locale: language
    });

    //Add a listener to the axis selectors, update table upon change.
    $('.axis-selector').change( function(){
        //If any of the axis change, we remove the timeline
        $("#timeline-wrapper").html("");
	timelineDrawn = false;
	if($(this).parent().attr('class').indexOf("xaxis") > -1){
	    keep_checked = true;
	}
	reDraw();
    });
     var value = $('#start-date').data("DateTimePicker").date().add(moment().utcOffset(), "minutes").toISOString();
     $('#start-date').attr('value', value );
     var value = $('#end-date').data("DateTimePicker").date().add(moment().utcOffset(), "minutes").toISOString();
     $('#end-date').attr('value', value );

    //Add listeners to update table when date/pickers change. Store the chart state in the DOM element.
    $('#start-date').on('dp.change', function() {
        var value = $('#start-date').data("DateTimePicker").date().add(moment().utcOffset(),"minutes").toISOString();
        $('#start-date').attr('value', value );
	keep_checked = true;
        reDraw();
    });
    $('#end-date').on('dp.change', function() {
        var value = $('#end-date').data("DateTimePicker").date().add(moment().utcOffset(),"minutes").toISOString();
        $('#end-date').attr('value', value );
	keep_checked = true;
        reDraw();
    });

    //Draw a default table.
    $('.xaxis .axis-selector option[value="age"]').attr('selected',true);
    $('.yaxis .axis-selector option[value="cd_tab"]').attr('selected',true);
    reDraw();
});

//This is called when a new location is loaded. 
//It stores the desired location ID ready to be picked up by reDraw().
function drawCharts( locID ){
    $('#location-option').attr('value', locID );
    keep_checked = true;
    reDraw();
}


function createKeepRemoved(){
     
   indices = []
	 selections = $("#cross-table").bootstrapTable('getSelections');
	 console.log("Selections", selections);
     if(selections.length > 0){
		 function checkRemove (table){
			 console.log("checkRemoved")
				 to_check = []
			 for (var i in selections){
				 to_check.push(selections[i]["cases"]);
			 }
			 setTimeout(function () {
				 table.bootstrapTable("checkBy", {
					 field: "cases",
					 values: to_check
				 });
			 },50);
			 if(removed){
				 setTimeout(function (){
					 new_selections = $("#cross-table").bootstrapTable('getSelections');
					 $("#toggle-selected[table='cross-table']").each(function (){
						 $(this).attr("value", "shown");
						 toggleSelected($(this));
					 });},100);
			 }
		 }
     }else{
	 checkRemove = undefined;
	 }
     return checkRemove
 }



     
 var removed = false;
 function toggleSelected(element){
     console.log("toggle")
     var table = $(element).attr('table');
     if( $(element).attr('value') == 'shown' ){ 
        $(element).attr('value','hidden');
	 removed = true;
         var indexes = [];  
         $("#" + table + " input[name='btSelectItem']:not(:checked)").each( function(){
             $("#" + table ).bootstrapTable('hideRow', {
                index: $(this).attr('data-index')
            });
        });

    }else{
        $(element).attr('value','shown');
        $("#" + table).bootstrapTable('getRowsHidden', true);
		removed = false;
    }

}


function showSpinners( show ){

    if( typeof( show ) == "undefined" ) show = true;

    if( show ){
        $('#cross-wrapper').html( 
            "<img class='spinner' src='{{url_for('static', filename='img/spinner.gif')}}' ></img>" 
        );

        if(timelineDrawn){
            $('#timeline-wrapper').html( 
                "<img class='spinner' src='{{url_for('static', filename='img/spinner.gif')}}' ></img>" 
            );
        }
    }else{
        $('.spinner').hide();
    }

}
indices = undefined;
 keep_checked = true;


//The chart state is stored in the html page - specifically '.cross-option' elements.
//Each of these elements should have a name and a value attribute.
//This function draws a new chart based upon these attributes.
function reDraw(){

    if (keep_checked){
        check_function = createKeepRemoved();
	 	}
    showSpinners();

    var crossOptions = {};
    var timelineOptions = {};

    //Assemble correct options object from html elements.
    $('.cross-option').each( function(){
        crossOptions[$(this).attr('name')] = $(this).attr('value');
    });

    //Assemble correct options object from html elements.
    $('.timeline-option').each( function(){
        timelineOptions[$(this).attr('name')] = $(this).attr('value');
    });

     
    console.log( crossOptions );
    console.log( timelineOptions );
     
    if (keep_checked){
	  //Draw new chart
	  createCrossPlot( $('.xaxis .axis-selector select').val(), 
			  $('.yaxis .axis-selector select').val(), 
			  crossOptions, check_function 
    );
	  keep_checked = false;
     }else{
	 createCrossPlot( $('.xaxis .axis-selector select').val(), 
			  $('.yaxis .axis-selector select').val(),
			  crossOptions)
     }

			  
    //If the timeline has been drawn, we redraw it with new information
    if(timelineDrawn){
         createTimeline( timelineId,
                         timelineCategory,
                         timelineOptions );
    }else{
        $('#timeline').hide();
    }
}

//Function that updates the colour option value.
function callColour(element){
    var value = $(element).attr("value");
    $(element).attr("value", value=="true" ? "false" : "true" );
    reDraw();
}

//Function that updates the strip-empty-records option value. 
function callStrip(element){

    var value = $(element).attr("value");

    if( value == "" ){
        $(element).attr("value","xy");
        $(element).addClass('glyphicon-resize-full');
        $(element).removeClass('glyphicon-resize-small');
    }else{
        $(element).attr("value","");
        $(element).addClass('glyphicon-resize-small');
        $(element).removeClass('glyphicon-resize-full');
    }

    reDraw();

}

//Function that transposes the data table.
function callTranspose(){

     var x = $('.xaxis .axis-selector select').val();
     var y = $('.yaxis .axis-selector select').val();

     $('.yaxis .axis-selector select').val(x);
     $('.xaxis .axis-selector select').val(y);

     reDraw();

}


// Variables to keep track of if we have drawn a timeline and with what id and category
var timelineDrawn = false;
var timelineId = "";
var timelineCategory = "";

// Find category and draw timeline
function prepareExploreTimeline(id, axis){
    options = {};
    $('.timeline-option').each( function(){
        options[$(this).attr('name')] = $(this).attr('value');
    });
     console.log(options)
    if( axis == "x"){
        category = $('.yaxis .axis-selector select').val();
    } else {
        category = $('.xaxis .axis-selector select').val();
    }
    createTimeline(
        id,
        category,
        options
    );
    timelineDrawn= true;
    timelineId = id;
    timelineCategory = category;
    $('#timeline').show();
    // Scrolls down to the timeline
    $('html, body').animate({ scrollTop: $('#timeline').offset().top }, 'slow');
 }


</script>

{% endblock pageJS %}
