{% extends 'base.html' %}

{% block menu %}
<ul class="nav navbar-nav">
	<li><a href="/technical/" >Dashboard</a></li>
	<li><a href="/reports/" >Reports</a></li>
	<li><a href="/messaging/" >Notifications</a></li>
	<li class="active"><a href="/explore/" >Explore Data</a></li>
	<li><a href="/download/" >Download Data</a></li>
	<li><a href="/" >Log out</a></li>
</ul>
{% endblock %}

{% block body %}
<!-- CONTENT -->
<div class="container page-content">
	<div class="top-bar row">
		<div class="tab-title less-padding-col">
			Explore Data 
		</div>
		<div id="epi-week-title" class="col-xs-12 col-sm-4 col-md-3 pull-right box ">
			Date not loaded.
		</div>
	</div>
	<div id="page-content-wrapper">
	  <div class="row">
		  <div class="col-xs-12 less-padding-col exploreChart" >			
			  <div class="box xaxis" >
          <div class="axis-selector">
          </div>
			  </div>
			  <div class="row">
				  <div class="box yaxis" >
            <div class="axis-selector">
            </div>
				  </div>
				  <div class="box chartBox" >
            <div class="table-responsive" ></div>
				  </div>
			  </div>
		  </div>
    </div>
	</div>
</div>
{% endblock body %}

{% block footer %}
<div class="container">
	<div class="footer__label pull-left col-xs-12 col-sm-6 col-md-5 less-padding-col">
		<p class="footer__title">Meerkat Health Surveillance</p>
		<p>Working with our partners:</p> 
		<ul class="footer__supporters" >
			{% for partner in content.footer.partners %}
				<li>{{partner}}</li>
			{% endfor %} 
		</ul>
		<p>For more information, please e-mail: {{content.footer.email|safe}} </p>
	</div>
	<div class="footer__logos pull-right col-xs-12 col-sm-6 col-md-7 less-padding-col">
		<img src="{{ url_for('static', filename='img/homepage/' + content.footer.logos.who) }}" id="whoLogo" ></img> 
		<img src="{{ url_for('static', filename='img/homepage/' + content.footer.logos.country_partner) }}"
		     id="countryLogo" ></img> 
		{% for logo in content.footer.logos.partners %}
			<img src="{{ url_for('static', filename='img/homepage/' + logo) }}" ></img> 
		{% endfor %} 
	</div>
</div>
{% endblock footer %}

{% block pageJS %}

<script type="text/javascript" >

var config = {{content|tojson|safe}};
var api_root = "{{config['EXTERNAL_API_ROOT']}}";
var week = {{week.epi_week}};


$("#epi-week-title").html( "Week " + get_epi_week() + " · " + get_date() );

$.ajaxPrefilter(function( options, originalOptions, jqXHR ) {
	options.data = $.param($.extend(originalOptions.data, { api_key: config.api_key })) // 
});

var axisSelector = "<select>"

for( var i in config.categories ){
  var cat = config.categories[i];
  axisSelector += "<option value='" + cat[0] + "'>" + cat[1] + "</option>";
}
axisSelector += "</select>";

$('.axis-selector').html(axisSelector);

$('.axis-selector').change( function(){
  drawCrossPlot( $('.xaxis .axis-selector select').val(), $('.yaxis .axis-selector select').val() );
});

function drawCrossPlot( catx, caty ){

	//These variable will hold all the JSON data from the api, when the AJAX requests are complete.
	var queryData, catxData, catyData;

	//Assemble an array of AJAX calls 
	var deferreds = [
		$.getJSON( api_root + '/query_category/' + caty + '/' + catx + '?use_ids=1', function(data) {
			queryData = data;
		}),
		$.getJSON( api_root + "/variables/" + catx, function(data) {
			catxData = data;
		}),
    $.getJSON( api_root + "/variables/" + caty, function(data) {
			catyData = data;
		})
	];

	//Run the AJAX reuqests asynchronously and act when they have all completed.
	$.when.apply( $, deferreds ).then(function() {

    var table = "<table class='table table-hover'>"
    
    var yKeys = Object.keys( queryData );

    //We draw html tables by rows, not columns, so begin by looping through y.
    for( var y in yKeys ){

      var yKey = yKeys[y];
      var xKeys = Object.keys( queryData[yKey] );

      //If first time, draw headers.
      if( y == 0 ){
        table += "<tr><th class='header'></th>";
        for( var h in xKeys ){
          table += "<th>" + catxData[xKeys[h]].name + "</th>";
        }
        table += "</tr>";
      }

      table += "<tr><td class='header'>" + catyData[yKey].name + "</td>";
      //Loop through x, drawing a new cell for each data point.
      for( var x in xKeys ){
        var xKey = xKeys[x];
        table += "<td>" + queryData[yKey][xKey] + "</td>";
      }
      table += "</tr>";

    } 

    table += "</table>"
    
    $('.exploreChart .table-responsive').html(table);
  });


}

</script>

{% endblock pageJS %}
