<!-- JS -->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/raven.js') }}"></script>

{% if config.SENTRY_JS_DNS %}
  <script>Raven.config('{{config.SENTRY_JS_DNS}}').install();</script>
{% endif %}
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/mapbox.js') }}"></script>
<script src="{{ url_for('static', filename='js/Leaflet.fullscreen.js') }}"></script>
<script src="{{ url_for('static', filename='js/leaflet.markercluster.js') }}"></script>
<script src="{{ url_for('static', filename='js/leaflet-omnivore.js') }}"></script>
<script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
<script src="{{ url_for('static', filename='js/highcharts-more.js') }}"></script>
<script src="{{ url_for('static', filename='js/TreeModel-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jed.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/locale/fr.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-table.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-table-en-US.js') }}"></script>
<script src="{{ url_for('static', filename='js/FileSaver.js') }}"></script>
<script src="{{ url_for('static', filename='js/tableExport.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/featherlight.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/js.cookie.js') }}"></script>
<script src="{{ url_for('static', filename='js/leaflet.awesome-markers.js') }}"></script>

<script>
  //Google analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52506330-1', 'auto');
  ga('send', 'pageview');

  //Store the user payload so it can be accessed by javascript for improving formatting of site.
  //Data access restriction should not be handled in the javascript though.
  {% if g.payload %}
  var user = {{g.payload|safe}};
  {% else %}
  var user = {};
  {% endif %}

  //Draw the langauge selector.
  var languages = {{ config["SUPPORTED_LANGUAGES"]|tojson|safe }};
  var language = {{g.get("language", config['DEFAULT_LANGUAGE'])|tojson|safe}};
  var index = languages.indexOf( language );
  var nextLang = index == languages.length-1 ? languages[0] : languages[index+1];
  var nextLangHref = window.location.href.replace( '/' + language + '/', '/' + nextLang + '/' );

  $('.lang-sel').html( "<a class='lang " + language + "' href='" + nextLangHref + "'>" +
                       nextLang.toUpperCase() + "</a>" );
  $(".lang-sel").attr( 'title', i18n.gettext("Choose a language") ); //Translatable tool tip.

  // Handle AJAX errors.
  $( document ).ajaxError(
    function(error_event, jqXHR, ajaxSettings, thrownError ) {
      console.log("AJAX ERROR " + jqXHR.status + " " + thrownError );
      if(jqXHR.status == 403){
          new_url = "/" + language + "/login?url=" + window.location.href +
                    "&error=" + jqXHR.responseJSON.message
          window.location.href = new_url;
      }
    }
  );

</script>
