

.exploreChart{
	
	.row{
		width: 100%;
		display: flex;
		margin-top: 5px;
	}

	.cornerBox{
		width: 55px;
		height: 45px;
		margin-right: 5px;
		text-align: center;
		
		span{
			transform: rotate(-45deg);
			margin-left: 5px;
			margin-top: 3px;
			font-size: 20px;
			cursor: pointer;
		}

	}

	.xaxis{
		width: calc(100% - 45px);
		height: 45px;

		.axis-selector{
			margin-left: 80px;
			width: 300px;
			float: left;
		}
	
	}

	.options{
		float: right;
		font-size: 20px;
		margin-right: 10px;

		span{
			cursor: pointer;
			width: 40px;
		}
	}

	.yaxis,
	.xaxis,
	.cornerBox,
	.chartBox{
		float: left;
	}
	
	.yaxis{
 		width: 55px;
		margin-right: 5px;
		position:relative;
		text-align: center;
	}	

	.chartBox{
		width: calc(100% - 45px);
	}

	.yaxis .axis-selector{

		width: 300px;
		position: absolute;
		top: 150px;
		left: -125px;
		display: inline-block;

		select{
			-ms-transform: rotate(-90deg); /* IE 9 */
			-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
			transform: rotate(-90deg);
		}
	}

	.timeline-toolbar{
		width: 100%;
	}

	.timeline{
		width: 100%;
	    padding: 0px;
	}

	.table, th{
		text-align: center;
		margin: 0px;
	}

	.table th,
	.table .header{
		background: #f9f9f9;
		font-weight: bold;
	}

	.table .header{
		border-right: 1px solid #ddd;
		text-align: left;
	}
}

.bootstrap-table .fixed-table-toolbar{
	display: none;
}

#cross-table, #timeline-table{
	margin-top: -2px !important;
}

#cross-wrapper, #timeline-wrapper{

    text-align: center;

    .spinner{
	    display: inline-block;
        margin-top: 50px;
    }

}

#timeline{
    display: none;
}

.explore .total-row, 
.explore .total-col{
    background: #f9f9f9;
    border: 1px solid #ddd
}

