body.homepage{
	padding: 50px 0px 0px;
	color: $textGrey;
	b	1ackground: #FFF;
	#base-breaker{
		display: none;
	}
}
//Log in Alert for mobile screens
                           AQQAÅ{
  background-color: $blue;
  border-radius: 4px;
  padding: 15px;
  font-size: 15px;
  color: #fff;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}
// NAVBAR FORMATING
.navbar{

	background-color: $blue;
	margin-bottom: 0;
	border: none;

	.navbar-flag {
		margin-right: 10px;
		height: 22px;
		border-radius: 3px;
		border: 1px solid #01719F;
        display: inline;
        position: relative;
        top: -3px;
	}

    @media (max-width: 767px){
        .navbar-flag{ margin-left:10px; }
    }

	.navbar-nav{

		a,
		a:focus,
		a:hover{
			background-color:$blue;
			color: white;
		}

		.active a,
		.active a:focus{
			background-color:$highlight;
		}
	}


    @media (min-width: 992px){
        #menu-collapse{float: right;}
    }
    @media (max-width: 1199px) and (min-width:992px){
        .nav li a{
            font-size: 13px;
            padding: 15px 10px;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
       .navbar-toggle{
           display:block;
           margin-right:-10px;
       }
    }
    @media (max-width: 991px) {
      #menu-collapse{
          margin: 0px;
          width: 100%;
          text-align: center;
      }
      .navbar-header {
          float: none;
      }
      .navbar-left,.navbar-right {
          float: none !important;
      }
      .navbar-toggle {
          display: block;
      }
      .navbar-collapse {
          border-top: 1px solid transparent;
          box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      }
      .navbar-fixed-top {
          top: 0;
          border-width: 0 0 1px;
      }
      .navbar-collapse.collapse {
          display: none!important;
      }
      .navbar-nav {
          float: none!important;
          margin-top: 7.5px;
      }
      .navbar-nav>li {
          float: none;
      }
      .navbar-nav>li>a {
          padding-top: 10px;
          padding-bottom: 10px;
      }
      .collapse.in{
          display:block !important;
      }
    }
    .navbar-brand{
        padding: 15px 5px;
    }

	.navbar-brand span{
		max-height: 40px;
		margin-right: 10px;
	}

	.navbar-toggle{
		border: #FFF 2px solid;
		.icon-bar{
			background: #FFF;
		}
	}
}

//MAP FORMATTING

#map{

	cursor: default;

	.marker-cluster-small,
	.marker-cluster-medium,
	.marker-cluster-large{

		background-color: #EA9E72;

		div {
			background-color: $highlight;
			color: white;
			font-weight: bold;
		}
	}

}



#map-home{

	.overlay{
		height: 0px;
		margin-left: auto;
		margin-right: auto;
		position:relative;
	}

	.title-overlay{

		position: absolute;
		left: 0;
		bottom: 0;
		padding: 30px;
		height: auto;
		overflow: hidden;
		text-align: center;
		width: 490px;
		z-index: 2;
		background: #FFF;
		border-radius: 20px 20px 0px 0px;

	 	h1{
			position: static;
			float: left;
			width: 100%;
			margin: 0;
			padding: 0;
			text-align: center;
		}

	}

	.techSiteBtn{
		padding: 15px 0px;
		position: absolute;
		right: 20px;
		bottom: 65px;
		z-index: 3;
		display: block;
		float: initial;
		text-align: center;

		a {
			background-color: $blue;
			color: #FFF;
			border-radius: 20px;
			border: 2px solid rgba(0,0,0,0);
			width: 250px;
			display: inline-block;
		}

		a:hover{
			border: 2px solid #FFF;
		}
	}


	.key{

		position: absolute;
		right: 20px;
		top: 20px;

		.keyText{
			background-color: $blue;
			opacity: 0.8;
			width: 200px;
			border-radius: 15px;
			position: absolute;
			top: 10px;
			right: 0px;
			color: white;
			padding: 10px;
			z-index: 1;
			text-align: right;
			font-size: 1.3em;
		}

		img{
			height: 40px;
			position: absolute;
			z-index: 2;
			right: 165px;
			top: 20px;
		}

		.keyBody{
			font-size: 0.6em;
		}
	}

	.details{

		background-color: $blue;
		opacity: 0.8;
		border-radius: 15px;
		position: absolute;
		bottom: 50px;
		left: 15px;
		color: white;
		padding: 10px 20px 10px 20px;
		z-index: 1;
		font-size: 1.3em;
		min-width: 250px;

		.title{
			font-weight: bold;
			border-bottom: solid white 1px;
			padding-bottom: 5px;

		}

		.label{
			padding: 0;
			line-height: 75%;
		}

		.value{
			font-size: 75%;
			line-height: 75%;
		}

		#lat.label,
		#lng.label{
			width: 20%;
			text-align: left;
			float: left;
			margin-top: 10px;
		}

		#lat.value,
		#lng.value{
			width:30%;
			float: left;
			margin-top: 10px;
		}
	}
}

.logos{

	text-align:center;

	img{
		overflow: hidden;
		display: inline-block;
		max-height: 150px;
		margin: 5%;
		max-width: 40%;
	}
}

#mobile-home{

	padding: 20px 0px;

	img{
		max-width: 40%;
		margin: 15px;
		height: 40%;
	}

	H1{
		text-align: center;
		font-size: 25px;
	}

}

// SPECIFIC SECTION FORMATTING
.slides{
	.slideCont{
		display: none;
	}
}
.reports-button{

    margin: 20px auto 0px;
    text-align: center;
    width: 80%;

	a,
	a:hover,
	a:focus,
	a:active{
		background-color: $blue;
		color: #FFF;
		border-radius: 20px;
		border: 2px solid rgba(0,0,0,0);
		width: 280px;
		display: inline-block;
		font-weight: bold;
		margin:10px;
	}
}

#acknowledgements{

	text-align: center;

	img{
		max-height: 200px;
		max-width: 100%;
		margin: 15px 0;
	}

	.image-container{
		display: inline-block;
		margin: 20px 0px;
		width: 80%;
	}

	h2{
		font-size: 20px;
	}

	br{
		display:none;
	}

	@media screen and (min-width: 500px){
		h2{
			font-size: 30px;
		}

		br{
			display:initial;
		}
	}


}

#kiViewer{

	width: 280px;
	margin: 50px auto;

	.Number, .kiLabel{
		display: inline;
		position: relative;
		width: 100%;
	}

	.kiLabel{
		font-size: 25px;
	}

	.kiNumber{
		font-size: 44px;
		display: inline-block;
		width:100%;
	}

	.kiValue{
		float:left;
	}

	.keyIndicator{
		padding: 25px;
		width: 200px;
		height: 200px;
		margin: 0 5px;
		background: $blue;
		color: white;
		border-radius: 20px;
		float: left;
	}

	.chevron{
		font-size: 35px;
		float: left;
		width:35px;
	}

	.chevron span{
		line-height: 200px;
		cursor: pointer;
	}.btn-default:active:hover, .btn-default:active:focus, .btn-default.focus:active,

	.window{
		position: relative;
		height: 200px;
		width: 210px;;
		overflow: hidden;
		margin: 0 auto;
		float: left;
	}

	@media (min-width: 700px) {

		width: 700px;

		.window{
			width: 630px;
		}
	}

}

#keyIndicatorsList{
	width: 1300px;
	display: inline-block;
	position: absolute;
	left: 0px;
}


.homepage footer{

	background-color: $darkGrey;
	color: $lightGrey;
	border-top: 1px solid $darkGrey;

	p{
		padding:20px;
		text-align: center;
		margin-top: 20px;
	}

	.other-contact-info,
	.address{
		text-align: center;
	}

	@media screen and (min-width: 768px){
		.other-contact-info{
			text-align: left;
		}

		.address{
			text-align: right;
			border-right: 1px solid #D3D3D3;
		}
	}
}

// GENERAL FORMATING
// Available for use throughout the homepage.

//Centres bootstrap columns.
.row-centered{

	text-align:center;

	.col-centered{
		display: inline-block;
		margin-right: -4px;
		float: none;
	}
}

//Creates vertical space
.breaker{
	background: transparent;
	height: 50px;
}

//Makes an element appear as if it is clickable.
.clickable{
	cursor: pointer;
}

a:hover{
	color: $highlight;
}

.btn-default:active:hover, .btn-default:active:focus, .btn-default.focus:active{
	background: $highlight;
}

.reports-options{
	margin-top: 20px;
	text-align: center;
}

.selector-wrapper{
	display:inline-block;
	margin: 10px 10px;
}

.navbar-buttons{
    float: left;
    margin-right: -15px;
}
@media (max-width: 991px){
    .navbar-buttons{width:100%;}
    margin: 0px;
}

.button{
    a{
        color: #fff;
        display:inline-block;
        width:100%;
        height:100%;
    }
    a:hover, a:active{
        text-decoration: none;
        color: #fff;
        background: $highlight;
    }

    display: inline-block;
    margin: 12px 5px;
    width: 26px;
    height: 26px;
    text-align: center;
    vertical-align: middle;
    line-height: 26px;
    border: solid 1px #fff;
    border-radius: 3px;
    font-size: 13px;
}





// .lang-sel{
//   margin: 15px -10px 15px 10px;
// }
//
// .lang{
//   color: white;
//   border: white solid 1px;
//   border-radius: 3px;
//   padding: 3px;
// }
//
// .lang:hover{
//   background: $highlight;
//   color: white;
//   text-decoration: none;
//   border: 1px solid $highlight;
// }

// @media screen and (max-width: 751px){
//   .lang-sel{
//     margin: 0px 0px 15px;
//     text-align: center;
//     float: none;
//   }
//
// }

.login{

    label{
        display: block;
        padding-left: 20px;
    }

    input.text{
        display: block;
        background: $lightGrey;
        color: $textGrey;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #ddd;
    }

    .form-group{
        margin-bottom: 20px;
        width: 100%;
        display: block;
    }

    .submit{
        background: $highlight;
        color: #FFF;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid $highlight;
        font-size: 18px;
        margin: 20px 0 10px;
    }

    .chartBox__heading{
        padding: 7px 5px 4px 10px;
    }

    .login-box-holder{
        .lang-sel{
            margin: 0px;
        }

        .lang{
            position: relative;
            top: -3px;
            right: -2px;
            background: $blue;
            color: #FFF;
            font-size: 14px;
            border: 1px solid $blue;
        }

        .lang:hover{
          background: $highlight;
          color: white;
          text-decoration: none;
          border: 1px solid $highlight;
        }
    }

    #map{
        height:100vh;
    }

    .page{
        position:relative;
    }

    .overlay{
        position: absolute;
        top: 40px;
        width: 100%;
        .row{
            margin: 0px;
        }
    }
}

.blue{
    background: $blue;
}

.highlight{
    background: $highlight;
}

.loading{
    background: url('/static/img/loading.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 20px;
    height: 20px;
}

body.blue{
  background: $blue;
  padding: 0;
}

.login-title{
  color: white;
  font-size: 40px;
  margin: 40px 0 0 40px;
}

.login-box-holder{
    width: 250px;
    margin: 15vh auto 0;
}

.featherlight.loginBox .featherlight-content{
    padding: 0px 15px;
    border: 0px;
    border-radius: 3px;

    .login-box-holder{
        margin: 0;
    }
}

.input-group{
    width: 100%;
    margin-bottom: 5px;
    input, select{
        padding: 3px 5px;
    }
    label{
        padding: 7px 10px 3px 0px;
    }

    @media screen and (min-width: 1083px){
        text-align: right;
    }

    label.access,
    label.data{
        text-align: left;
        margin-top: 5px;
    }
}
