//COLOUR PALETTE
$blue: #0090ca;
$highlight: #d9692a;
$lightGrey: #f5f5f5;
$darkGrey: #7d7d7d;
$textGrey: #666;

body.homepage{

	padding: 50px 0px 0px;
	color: $textGrey;

	// NAVBAR FORMATING
	.navbar{
		
		background-color: $blue;
		margin-bottom: 0;
      border: none;	

		
		.navbar-nav{ 

			a, 
			a:focus, 
			a:hover{
				background-color:$blue;
				color: white;
			}

			.active a,
			.active a:focus{
				background-color:$highlight;
			}
		}

		#menu-collapse{
			float: right;
		}

      .navbar-brand span{
			float: left;
			max-height: 40px;
			margin-right: 10px;
	   }
	}

	
	//MAP FORMATTING

	#map{

		cursor: default;

		.marker-cluster-small, 
		.marker-cluster-medium, 
		.marker-cluster-large{

			background-color: #5ea6d6;
				
			div {
				background-color: $blue;
				color: white;
			}		
		}
	
	}


	#map-home{

		.overlay{
			height: 0px;
			margin-left: auto;
			margin-right: auto;
			position:relative;
		}

		.title-overlay{

			position: absolute;
			left: 0;
			bottom: 0;
			padding: 30px; 
			height: auto;
			overflow: hidden;
			text-align: center;
			width: 490px;
			z-index: 2;
		   background: #FFF;	
			border-radius: 20px 20px 0px 0px;
		
		 	h1{
				position: static;
				float: left;
				width: 100%;
				margin: 0;
				padding: 0;
				text-align: center;
			}

		}

		.techSiteBtn{
			padding: 15px 0px;
			position: absolute;
			right: 20px;
			bottom: 65px;
			z-index: 3;
			display: block;
			float: initial;
			text-align: center;

			a {
				background-color: $blue;
				color: #FFF;
				border-radius: 20px;
				border: 2px solid rgba(0,0,0,0);
				width: 250px;
				display: inline-block;
			}

			a:hover{
				border: 2px solid #FFF;
			}
		}


		.key{

			position: absolute;
			right: 20px;
			top: 20px;

			.keyText{
				background-color: $blue;
				opacity: 0.8;
				width: 200px;
				border-radius: 15px;
				position: absolute;
				top: 10px;
				right: 0px;
				color: white;
				padding: 10px;
				z-index: 1;
				text-align: right;
				font-size: 1.3em;
			}

			img{
				position: absolute;
				z-index: 2;
				right: 150px;
			}
		
			.keyBody{
				font-size: 0.6em;
			}
		}

     	.details{

			background-color: $blue;
			opacity: 0.8;
			border-radius: 15px;
			position: absolute;
			bottom: 50px;
			left: 15px;
			color: white;
			padding: 10px 20px 10px 20px;
			z-index: 1;
			font-size: 1.3em;
			min-width: 250px;

			.title{
				font-weight: bold;
				border-bottom: solid white 1px;
				padding-bottom: 5px;

			}

			.label{
				padding: 0;
				line-height: 75%;
			}

			.value{
				font-size: 75%;
				line-height: 75%;
			}

			#lat.label, 
			#lng.label{
				width: 20%;
				text-align: left;
				float: left;
				margin-top: 10px;
			}

			#lat.value, 
			#lng.value{
				width:30%;
				float: left;
				margin-top: 10px;
			}
		}
	}



	.logos{

		display: inline-block;

		img{
			overflow: hidden;
			float: left; 
			max-height: 150px;
			margin: 5%;
			max-width: 40%;
		}
	}

	// SPECIFIC SECTION FORMATTING
	.slides{
		.slideCont{
			display: none;
		}		
	}

	#acknowledgements{

		text-align: center;

		img{
			max-height: 200px; 
			max-width: 100%;
			margin: 15px 0;
		}

		.image-container{
			display: inline-block;
			margin: 20px 0px;
			width: 80%;
		}

	}

	#kiViewer{

		width: 700px;
		margin: 50px auto;

		.Number, .kiLabel{
			display: inline;
			position: relative;
			width: 100%;
		}

		.kiLabel{
			font-size: 1.5em;
		}

		.kiNumber{
			font-size: 4em;
			display: inline-block;
			width:100%;
		}

		.kiValue{
			float:left;
		}

		.keyIndicator{
			padding: 25px;
			width: 200px;  
			height: 200px; 
			margin: 0 5px;
			background: $blue;
			color: white; 
			border-radius: 20px;
			float: left;
		}

		.chevron{
			font-size: 35px;
			float: left;
			width:35px;
		}

		.chevron span{
			line-height: 200px;
			cursor: pointer;
		}

		.window{
			position: relative;
			height: 200px;
			width: 630px;
			overflow: hidden;
			margin: 0 auto;
			float: left;
		}

	}

	#keyIndicatorsList{
		width: 1300px;
		display: inline-block;
		position: absolute;
		left: 0px;
	}


	footer{

		background-color: $darkGrey;
		color: $lightGrey;
		border-top: 1px solid $darkGrey;
	
		.container{
			padding:20px;
			text-align: center;		
			margin-top: 20px;
		}

		.address{
			text-align: right;
			border-right: 1px solid #D3D3D3;
      }
		
		.other-contact-info{
			text-align: left;
		}
	}

// GENERAL FORMATING
// Available for use throughout the homepage.

	//Centres bootstrap columns.
	.row-centered{

		text-align:center;

		.col-centered{
			display: inline-block;
			margin-right: -4px;
			float: none;
		}		
	}

	//Creates vertical space
	.breaker{
		background: transparent;
		height: 50px;
	}

   //Makes an element appear as if it is clickable.
	.clickable{
		cursor: pointer;
	}

	a:hover{
		color: $highlight;
	}
}
