input.submit,
input.submit:hover{
	background: $blue;
	border: $blue 1px solid;
	color: #FFF;
}


form.subscribe,
form.verify{
	input.submit:active,
   input.submit:visited,
	input.submit:focus{
		background: $highlight;
		border: $highlight 1px solid;
	}
}


form.subscribe{

   margin: 10px 0px 20px;

	label{
		text-align: left;
      padding: 5px 10px;
	}
   
	input{
		border: 1px solid $darkGrey;
		border-radius: 5px;
		padding: 5px 10px;
	}

   .row{
		margin: 10px 0;
	}

	input.submit{
		margin-top:20px;
		display: inline-block; 
		padding: 10px 15px;
		border: $blue 1px solid;
	}

	@media (min-width: 768px) {
		label{
			text-align: right;
		}
	}

	.title{
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: bold;
		margin-top: 20px;
	}

   .check{
		padding: 0px 20px;
		position:relative;

		input{
			position: absolute;
			left: 0px;			
		}

	}

	.submit.row{
		text-align: center;
	}
}

.no-padding-col{
	padding: 0px;
}

.more-padding-col{
	padding: 0px 20px
}

.iti-flag {background-image: url("/static/img/flags.png");}

.subscribe .intl-tel-input{
	width: 66.6667%;
	input{
		width: 100%;
	}
}

ul.flashes{

	margin-top: 10px;
	list-style:none;

	li{

		text-align: center;

		.frame{
			display: inline-block;
			border: $blue solid 2px;
			border-radius: 5px;
			background: #FFF;
			position: relative;
			margin: 10px 0px 0px;
		}

		.text{
			padding: 10px 20px 10px 60px;
			font-size: 16px;
		}

		span{
			color: #FFF;
			background: #0090CA;
			padding: 0px 12px;
			font-size: 20px;
			vertical-align: middle;
			position: absolute;
			left: 0px;
			top: 0px;
			line-height: 45px;
			height: 100%;
		}

		div.error{
			border: 2px solid $highlight;
			span{
				background: $highlight;
			}
		}	
	}
}

