$printedBlue: #337ab7;

@page {
  size: A4;
  margin: 0;
  padding: 1in;
  background: #ffffff;
}

/* setup the footer */
@page {
  @bottom {
    content: flow(footer);
  }
}

@media print {


	//We only want this CSS to apply to html report pages.
	body.htmlreport{

		margin-top: 20px;

		// NAVBAR
		.navbar {

			display: block;

			.navmenu{
				background: $printedBlue !important;
				padding: 0px;
				margin: 20px 30px;
				border-radius: 3px;
			}

			.navbar-brand span,
			.navbar-brand span b{
				 color: #fff !important;
			}
		}

		.who-logo-white-no-text {
			background: #337ab7 !important;
			background-size: 100% auto !important;
			background-position: 50% !important;
			background-repeat: no-repeat !important;
			background-image: url(../img/logo/who-logo-white-no-text.svg) !important;
		}

		// MAP
	 	.leaflet-container img {
	 		max-width:none !important;
	 	}

	 	.leaflet-control-fullscreen a {
			display: none;
		}

		#map .marker-cluster-small,
        #map .marker-cluster-medium,
        #map .marker-cluster-large {
            background-color: #EA9E72 !important;
            span{ color: #FFF !important; }
            div{ background-color: $highlight !important; }
		}

		.chart-wrapper {

			border: none;

      .chart-title *{
				color: #FFF !important;
      }

			.chart-title{
        background: $printedBlue !important;
				color: #FFF !important;
				border-radius: 3px 3px 0px 0px;
				border: 1px solid $printedBlue;
				padding: 7px 10px;
			}
			.chart-stage{
				background: $lightGrey !important;
				border-radius: 0px 0px 3px 3px;
				border: 1px solid #e2e2e2;
				border-top:none;
				padding: 10px;
			}

		}

		.row {
			margin-bottom:20px;
		 	page-break-inside: avoid;
		}

		.row.allow-breaks {
		 	page-break-inside: auto;
		}

		footer.row{
			margin-bottom: 0px;
		}

    tr{
		 	page-break-inside: avoid;
    }

		// HEADER
		.flag-icon {
      border: 2px solid #ddd !important;
      border-radius: 3px;
			background: transparent !important;
			background-size: cover !important;
			background-position: 50% !important;
			background-repeat: no-repeat !important;
			position: relative !important;
			display: inline-block !important;
			width: 1.33333em !important;
			line-height: 1em !important;
			margin: 5px 10px;
      padding: 0px;
		}

		// CHARTS
		.ct-bar {
			stroke-width: 15px;
		}

		.ct-label {
			font-size: 0.6em;
		}

		// FOOTER
		footer{

			padding: 0px 20px 0px;

			.container-fluid{

				background: $darkGrey !important;
				border-radius: 3px;
				padding: 15px 20px;
				margin: 0px 10px;

				div, p, li, b{
					color: #FFF !important;
				}
			}
			.time-stamp{
				text-align: right;
			}
            .row {
                margin-bottom: 0px;
            }

		}

		//TABLES
		.table{

      border: 2px solid #ddd !important;

      .table tbody tr td{
        border-bottom: 1px solid #ddd !important;
      }

      tbody td.border-left,
      thead th.border-left{
        border-left: 2px solid #ddd !important;
      }

      tbody td.border-top,
      thead th.border-top{
        border-top: 2px solid #ddd !important;
      }

      tbody td.border-right,
      thead th.border-right{
        border-right: 2px solid #ddd !important;
      }

      tbody td.border-bottom,
      thead th.border-bottom{
        border-bottom: 2px solid #ddd !important;
      }
			margin-bottom: 0px;
			tbody td.highlight {
					background: #d9692a !important !important;
					color: #FFF !important;
					border: #d9692a;
			}
			thead tr{
			 	th{
					border: 0;
					background: #cacaca !important;
          border-bottom: 2px solid #ddd !important;
				}

			}
			td{
				background: $lightGrey !important;
			}
			.total {
				border-right: 2px solid #cacaca !important;
				border-left: 2px solid #cacaca !important;
				background: #cacaca !important;
			}
      tbody td.dark,
      thead th.dark{
        background: $darkGrey !important;
        border: none;
      }



		}
		.table-wrapper, .small-table-wrapper{
			border-radius: 0;
      border: 0;
		}

	}

  .fixed-table-container thead th .sortable{
      padding: 2px;
  }

  .mapbox{
      .info{
        display: none;
      }

      .area-label{
        .outer {
            background: #87bbe8 !important;
            color: white !important;
        }

        .inner {
            background: #337ab7 !important;
            color: white !important;
        }
      }

  }
  .awesome-marker i {
  /* color: #333; */
	  margin-top: 10px;
	  display: inline-block;
	  font-size: 14px;
  }
  .awesome-marker-shadow {
      background: url(images/markers-shadow.png) no-repeat 0 0 !important;
  }

	  .awesome-marker .icon-white {
	  color: #fff !important;
  }
  .awesome-marker {
	  background: url(images/markers-soft.png) !important;
  }
  .awesome-marker-icon-blue {
	  background-position: -108px 0 !important;
  }

    }
 
  .marker-legend {
	padding: 10px 10px;
    font: 10px sans-serif;
    background: white !important;
    background: rgba(255,255,255,0.8) !important;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;


  .reports-table{
    font-size: 12px;
  }

  .reports-table.small {
    font-size: 12px;

    tbody tr td{
      padding: 2px;
    }

  }

  .leaflet-control-zoom {
    display: none;
  }
  .small-text {
	  p {
		  font-size: 12px;
	  }

  }
}



#district-completeness-column{
    height: 350px;
    display: block;
}
#district-completeness-column-cd-report{
    height: 300px;
    display: block;
}
#ncd-chart-demographics{
    height:300px;
}
.reporting-sites-small{
    height:300px;
}
.diseases-small{
    height:370px;
}


@media print{
		.mh-cell{
			font-size:11px !important;
			padding: 0px !important;
		}

		.mh-row{
			page-break-before: always;
		}

		.mh-column-title{
			font-size:9px !important;
			padding: 0px !important;
		}

		.mh-chart-title{
			display: none !important;
		}

		.pip-table{
			page-break-before: always;
		}

        .break-after{
            page-break-after: always;
        }
        .facility-title{
            margin: 20px 0px 20px;
        }
        .footer__logos img {
            max-height:85px;
        }
	}

@media print{
		.awesome-marker .icon-white {
			color: #fff !important;
		}

		.awesome-marker .icon-white:before {
			color: #fff !important;
		}

}
