body.reports, body.htmlreport{

	padding: 50px 0px 0px;
	color: $textGrey;
	background: $lightGrey;

	.row{
		margin-left: 0px;
		margin-right: 0px;
	}

	.breaker{
		height: 20px;
	}

	td.indent{
		padding: 5px 12px;
	}

	.reports-form{
		min-height: 450px;
	}

    footer{
        padding-bottom:0px;
    }

}

.page-content{
	min-height: 80vh;
	padding: 10px 0;
}

.centered, table.centered th{
  text-align: center;
}

.reports-form{

	margin-top: 40px;
	margin-bottom: 20px;

	label{
		text-align: left;
    	padding: 5px 10px;
	}

   .row{
		margin: 10px 0;
	}

	label.row{
		margin: 10px 0 0;
	}

	.download-buttons input{
		display: inline-block;
		padding: 10px 15px;
		border: #0090ca 1px solid;
		background: #0090ca;
		color: #fff;
		margin: 0 0 10px 10px;
	}

	.title{
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: bold;
		margin-top: 20px;
	}

   .check{
		padding: 0px 20px;
		position: relative;

		input{
			position: absolute;
			left: 0px;
		}

	}

	.radio-button{
		display: inline-block;
	}

	.radio-label{
		display: inline-block;
		margin-left: 20px;
	}
}

form.reports-form .download-buttons input{
	margin: 20px 0px;
}

.reports-table th, .refugee th{
  background: $lightGrey;
}

table{
    .key{
      text-align: left;
      border-right: 2px solid #ddd;
    }

    .value{
      border-right: 2px solid #ddd;
    }

    .value-percentage{
	    white-space: nowrap;
    }
}

.total{
  border-right: 2px solid #ddd;
  border-left: 2px solid #ddd;
  background: $lightGrey;
  font-weight: bold;
}

.total-row{
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  background: $lightGrey;
}
.highlight{
  border: $highlight;
}
.table-wrapper{
  margin: 15px;
  border: 1px solid #DDD;
  border-radius: 5px;
}

.small-table-wrapper{
  margin: 15px;
  border: 1px solid #DDD;
  border-radius: 5px;
  display: inline-block;
}

table.refugee.table,
table.reports-table.table{
  margin-bottom: 0px;
}

table.refugee.small{
  width: initial;
  font-size: 100%;
}

.table-title{
  margin: 15px 0px 0px 50px;
  font-weight: bold;
  font-size: 15px;
}

.reports-table,
.bootstrap-table .table.reports-table{

    tbody td.highlight,
    th.highlight{
      background: $highlight;
      color: #FFF;
    }

    th.lowlight,
    tbody td.lowlight{
      background: #FAFAFA;
      color: $textGrey;
      border-bottom: none;
      border-top: none;
    }

    tbody tr td{
      border-bottom: 1px solid #ddd;
    }

    tbody td.border-left,
    thead th.border-left{
      border-left: 2px solid #ddd;
    }

    tbody td.border-top,
    thead th.border-top{
      border-top: 2px solid #ddd;
    }

    tbody td.border-right,
    thead th.border-right{
      border-right: 2px solid #ddd;
    }

    tbody td.border-bottom,
    thead th.border-bottom{
      border-bottom: 2px solid #ddd;
    }

    tbody td.dark,
    thead th.dark{
      background: $lightGrey;
      border: none;
    }
}

.htmlreport .fixed-table-container.table-no-bordered {
    border: 2px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.bootstrap-table .reports-table thead tr th{
    border-bottom: 2px solid #ddd;
}

.right-align{
  text-align: right;
}

.htmlreport{

    .navbar .container-fluid .navbar-brand{
        margin: 0 10px;
    }

    .page-header{
        margin: 40px 15px 20px;
    }

		.time-stamp{
			margin-top: 20px;
		}

		@media screen and (min-width: 768px) {
			.time-stamp{
				text-align: right;
			}
		}
}

.default-period{
	text-align: right;
	cursor: pointer;
	font-style: italic;
	font-weight: normal;
}

#district-completeness-column{
    display: none;
}

.reports-form-wrapper{
	padding: 30px;
	border: solid 1px $lightGrey;
	border-radius: 3px;
}

#malaria-map-wrapper{
   height: 350px;
}

.moh-title-logo{
    height: 50px;
    margin: 0 10px 0 15px;
}

.mapbox{
  min-height: 700px;
}

.area-label{
  .outer {
      width: 35px;
      height: 35px;
      background: #4fbfec;
      text-align: center;
      line-height: 35px;
      border-radius: 20px;
  }

  .inner {
      width: 25px;
      height: 25px;
      background: $blue;
      text-align: center;
      color: white;
      font-weight: bold;
      border-radius: 20px;
      line-height: 25px;
      display: inline-block;
  }
}

.chart-stage.map-padding{
  padding: 0px 1px 1px;
}

.mapbox .info {
    background: #0090ca;
    padding: 10px;
    color: white;
    border-radius: 3px;
    font-size: 1.2em;
    text-align: right;
    margin: 20px;
}
.mapbox .legend {
    line-height: 18px;
}

.mapbox .marker-legend {
	padding: 10px 10px;
    font: 10px sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;

}
.mapbox .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}
#ncd-mapbox-panel .chart-stage{
    height:600px;
}
.chart-stage-cd{
    .mapbox {
        min-height:500px;
    }
}
.facility-title{
    margin: 60px 0px 20px;
    position: relative;
    border: 1px #c2c2c2 solid;
    border-style: solid none;
    padding: 10px 0px;

    .left-part, .right-part{
        padding: 0px 10px;
        width:50%;
    }

    .facility-title-partner{
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 25px;
    }
    .title{
        font-size: 30px;
    }
}

.facility-map{
    .chart-stage{
        padding: 0px;
    }
    .map{
        height: 400px;
    }
}
.facility-image{
    max-height:600px;
    overflow: hidden;
    .chart-stage{
        padding: 0px;
    }
    img{
        width: 100%;
    }
}

.table tr:first-child td {
    border-top: none;
}

.line-breaker-top{
    border-top: 1px solid #c2c2c2;
    height:10px;
    width: 100%;
}
.line-breaker-bottom{
    border-bottom: 1px solid #c2c2c2;
    height:10px;
    width: 100%;
}

.country-map .chart-stage{
    padding: 0px;
    .mapbox{
        height:600px;
        min-height:600px;
    }
}

.cholera-chart .chart-stage .chart{
        height: 350px;
}

.htmlreport .download{
    height: 50px;
    line-height: 40px;
    padding:10px;
    margin: 0px 15px;
    color: #FFF;
    font-size:30px;
    cursor: pointer;
}

.htmlreport .download:focus, {
    background: $highlight;
}
