body.reports, body.htmlreport{

	padding: 50px 0px 0px;
	color: $textGrey;
	background: $lightGrey;

	.row{
		margin-left: 0px;
		margin-right: 0px;
	}

	.breaker{
		height: 20px;
	}

	td.indent{
		padding: 5px 12px;
	}

}

.page-content{
	min-height: 80vh;
	padding: 10px 0;
}

.centered, .centered th{
  text-align: center;
}

.reports-form{

	margin-top: 40px;
	margin-bottom: 20px;	
	min-height: 450px;

	label{
		text-align: left;
    	padding: 5px 10px;
	}

   .row{
		margin: 10px 0;
	}

	label.row{
		margin: 10px 0 0;
	}

	.download-buttons input{
		display: inline-block;
		padding: 10px 15px;
		border: #0090ca 1px solid;
		background: #0090ca;
		color: #fff;
		margin: 0 0 10px 10px;
	}

	.title{
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: bold;
		margin-top: 20px;
	}

   .check{
		padding: 0px 20px;
		position: relative;

		input{
			position: absolute;
			left: 0px;			
		}

	}

	.radio-button{
		display: inline-block;
	}

	.radio-label{
		display: inline-block;
		margin-left: 20px;
	}
}

form.reports-form .download-buttons input{
	margin: 20px 0px;
}

.refugee th{
  background: $lightGrey;
}

.key{
  text-align: left;
  border-right: 2px solid #ddd;
}

.total{
  border-right: 2px solid #ddd;
  border-left: 2px solid #ddd;
  background: $lightGrey;
}

.total-row{
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  background: $lightGrey;
}

.border-left{
  border-left: 2px solid #ddd;
}

.border-top{
  border-top: 2px solid #ddd;
}

.border-right{
  border-right: 2px solid #ddd;
}

.border-bottom{
  border-bottom: 2px solid #ddd;
}

.table tbody td.highlight{
  background: $highlight;
  color: #FFF;
  border: $highlight;
}

.table th.highlight{
  background: $highlight;
  color: #FFF;
}

.dark{
  background: $darkGrey;
}

.table-wrapper{
  margin: 15px;
  border: 1px solid #DDD;
  border-radius: 5px;
}

.small-table-wrapper{
  margin: 15px;
  border: 1px solid #DDD;
  border-radius: 5px;
  display: inline-block;
}

table.refugee.table{
  margin-bottom: 0px;
} 

table.refugee.small{
  width: initial;
  font-size: 100%;
}

.table-title{
  margin: 15px 0px 0px 50px;
  font-weight: bold;
  font-size: 15px;
}

.htmlreport{ 

    .navbar .container-fluid .navbar-brand{
        margin: 0 10px;
    }

    .page-header{
        margin: 40px 15px 20px;
    }
}
