body.technical{
	padding: 50px 0px 0px;
	color: $textGrey;
	background: $lightGrey;

	.breaker{
		height: 30px;
	}

	.row{
		margin-left: 0px;
		margin-right: 0px;
	}
}

.technical-tabs{

	list-style: none;
	text-align: center;
	width: 100%;
	padding: 0px;
	margin-bottom: none;

	li {

		display: inline-block;
		margin: 10px 10px;
		background: $blue;
		padding: 10px 20px;
		border-radius: 5px;		

		a{
			color: #FFF;
		}
		a:hover,
		a:focus,
		a:active{
			color: #FFF;
			text-decoration: none;
		}
	}
	
	li.active{
		background: $highlight;
	}
}

footer{
	min-height: 10vh;
}

.tab-page{
	min-height: 75vh;
	position:relative;
}

.box{
	background: #FFF;
	border-radius: 5px;
	border: solid 1px #E2E2E2;
	padding: 10px;
	overflow: hidden;
}

.top-bar{
	padding:5px;
}

button.header,
button.header:hover{
	border: solid 1px #CCC; 
	text-align: left;
	font-weight: bold;
	color: $textGrey;
}



.location-box{
	
	display: inline-block;
	margin: 0px 0px 10px;
	float: left;
	
	div {
		display: inline;
	}
}

.location-selector{
	margin:5px;
}

.chart{
	min-height: 300px;
	padding: 0px;
}

.chart__heading{
	border-bottom: 1px solid #D7D7D7;
	color: #666;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	font-size: 18px;
	padding: 7px 10px 4px;
}

.chart__content{
	display: block;
	padding: 5px 10px;
}

.less-padding-col{
	padding: 5px;
}

#epi-week-title{
	text-align: center;
}

.tab-title{ 
	display: inline-block;
	font-size: 24px;
	line-height: 42px;
}

.footer__label{
	text-align: left;
}

.footer__title{
	font-weight: bold;
	font-size: 16px;
}

.footer__logos{
	
	text-align: right;

	img{
		max-height: 100px;
		max-width: 100px;
		margin-left: 20px;
	}

	@media screen and (max-width: 767px){

		text-align: center;

		img{
			display: inline-block;
			margin: 0px 10px;
		}
	}
}

/* SIDE BAR FOR FILTERS */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	 position:relative;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: $lightGrey;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#wrapper {
	padding-left: 250px;
}

#wrapper.toggled {
	padding-left: 0;
}

#sidebar-wrapper {
	width: 250px;
}

#wrapper.toggled #sidebar-wrapper {
	width: 0;
}

#page-content-wrapper {
	position: relative;
}

#wrapper.toggled #page-content-wrapper {
	position: relative;
}


